.match-game-component > ul {
  text-align: center; }
  .match-game-component > ul li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 250px;
    margin: 0 5px;
    -webkit-perspective: 500px;
            perspective: 500px;
    cursor: pointer; }
    .match-game-component > ul li.HIGHLIGHTED {
      cursor: auto; }
    .match-game-component > ul li .side {
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      max-height: 100%;
      background-color: #0af;
      color: #eee;
      border-radius: 8px;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      transition: transform 0.5s, -webkit-transform 0.5s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      overflow: hidden; }
      .match-game-component > ul li .side img {
        max-width: 100%;
        max-height: 100%; }

/* Bottom to Top */
.match-game-component.bt > ul li .side.b,
.match-game-component > ul li.bt .side.b {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }

.match-game-component.bt > ul.show-all li .side.a,
.match-game-component.bt > ul li.HIGHLIGHTED .side.a {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

.match-game-component.bt > ul.show-all li .side.b,
.match-game-component.bt > ul li.HIGHLIGHTED .side.b {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg); }

@-webkit-keyframes flyright {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0; }
  20% {
    -webkit-transform: rotate(36deg);
            transform: rotate(36deg);
    opacity: 1; }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0; } }

@keyframes flyright {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0; }
  20% {
    -webkit-transform: rotate(36deg);
            transform: rotate(36deg);
    opacity: 1; }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0; } }

@-webkit-keyframes flyleft {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0; }
  20% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
    opacity: 1; }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0; } }

@keyframes flyleft {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0; }
  20% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
    opacity: 1; }
  50% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0; } }

.title-component.COMPLETE .sparkles-component {
  opacity: 1; }

.sparkles-component {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s; }
  .sparkles-component div {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: left;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: opacity 1s, -webkit-transform 1s;
    transition: transform 1s, opacity 1s;
    transition: transform 1s, opacity 1s, -webkit-transform 1s; }
    .sparkles-component div:before {
      content: "\02736";
      color: #efc300; }
    .sparkles-component div:nth-of-type(1) {
      left: 19%;
      top: 7%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .sparkles-component div:nth-of-type(2) {
      left: 23%;
      top: 8%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .sparkles-component div:nth-of-type(3) {
      left: 27%;
      top: 9%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0.25s;
              animation-delay: 0.25s; }
    .sparkles-component div:nth-of-type(4) {
      left: 31%;
      top: 10%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 1.25s;
              animation-delay: 1.25s; }
    .sparkles-component div:nth-of-type(5) {
      left: 35%;
      top: 11%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s; }
    .sparkles-component div:nth-of-type(6) {
      left: 39%;
      top: 12%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    .sparkles-component div:nth-of-type(7) {
      left: 43%;
      top: 13%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .sparkles-component div:nth-of-type(8) {
      left: 47%;
      top: 14%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .sparkles-component div:nth-of-type(9) {
      left: 51%;
      top: 15%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 0.25s;
              animation-delay: 0.25s; }
    .sparkles-component div:nth-of-type(10) {
      left: 55%;
      top: 16%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 1.25s;
              animation-delay: 1.25s; }
    .sparkles-component div:nth-of-type(11) {
      left: 59%;
      top: 17%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s; }
    .sparkles-component div:nth-of-type(12) {
      left: 63%;
      top: 6%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    .sparkles-component div:nth-of-type(13) {
      left: 67%;
      top: 7%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .sparkles-component div:nth-of-type(14) {
      left: 71%;
      top: 8%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .sparkles-component div:nth-of-type(15) {
      left: 75%;
      top: 9%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 0.25s;
              animation-delay: 0.25s; }
    .sparkles-component div:nth-of-type(16) {
      left: 79%;
      top: 10%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 1.25s;
              animation-delay: 1.25s; }
    .sparkles-component div:nth-of-type(17) {
      left: 18%;
      top: 11%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s; }
    .sparkles-component div:nth-of-type(18) {
      left: 22%;
      top: 12%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    .sparkles-component div:nth-of-type(19) {
      left: 26%;
      top: 13%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .sparkles-component div:nth-of-type(20) {
      left: 30%;
      top: 14%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .sparkles-component div:nth-of-type(21) {
      left: 34%;
      top: 15%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0.25s;
              animation-delay: 0.25s; }
    .sparkles-component div:nth-of-type(22) {
      left: 38%;
      top: 16%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 1.25s;
              animation-delay: 1.25s; }
    .sparkles-component div:nth-of-type(23) {
      left: 42%;
      top: 17%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s; }
    .sparkles-component div:nth-of-type(24) {
      left: 46%;
      top: 6%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    .sparkles-component div:nth-of-type(25) {
      left: 50%;
      top: 7%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .sparkles-component div:nth-of-type(26) {
      left: 54%;
      top: 8%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .sparkles-component div:nth-of-type(27) {
      left: 58%;
      top: 9%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 0.25s;
              animation-delay: 0.25s; }
    .sparkles-component div:nth-of-type(28) {
      left: 62%;
      top: 10%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 1.25s;
              animation-delay: 1.25s; }
    .sparkles-component div:nth-of-type(29) {
      left: 66%;
      top: 11%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s; }
    .sparkles-component div:nth-of-type(30) {
      left: 70%;
      top: 12%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    .sparkles-component div:nth-of-type(31) {
      left: 74%;
      top: 13%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .sparkles-component div:nth-of-type(32) {
      left: 78%;
      top: 14%;
      animation: flyright 1.5s infinite linear;
      -webkit-animation: flyright 1.5s infinite linear;
      -o-animation: flyright 1.5s infinite linear;
      -moz-animation: flyright 1.5s infinite linear;
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .sparkles-component div:nth-of-type(33) {
      left: 17%;
      top: 15%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0.25s;
              animation-delay: 0.25s; }
    .sparkles-component div:nth-of-type(34) {
      left: 21%;
      top: 16%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 1.25s;
              animation-delay: 1.25s; }
    .sparkles-component div:nth-of-type(35) {
      left: 25%;
      top: 17%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s; }
    .sparkles-component div:nth-of-type(36) {
      left: 29%;
      top: 6%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    .sparkles-component div:nth-of-type(37) {
      left: 33%;
      top: 7%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .sparkles-component div:nth-of-type(38) {
      left: 37%;
      top: 8%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .sparkles-component div:nth-of-type(39) {
      left: 41%;
      top: 9%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 0.25s;
              animation-delay: 0.25s; }
    .sparkles-component div:nth-of-type(40) {
      left: 45%;
      top: 10%;
      animation: flyleft 1.5s infinite linear;
      -webkit-animation: flyleft 1.5s infinite linear;
      -o-animation: flyleft 1.5s infinite linear;
      -moz-animation: flyleft 1.5s infinite linear;
      -webkit-animation-delay: 1.25s;
              animation-delay: 1.25s; }

.animation-component {
  background-color: black; }

.animation-component img[pl-id=source] {
  display: none; }

@-webkit-keyframes reload {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes reload {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.cannon-component img.LAUNCHED {
  /* 
		*  Normaly I would define the transition on the default rule but this way
		*  the animation will not play when the "LAUNCHED" flag is removed.
		*/
  transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px); }

.cannon-component img.RELOAD {
  -webkit-animation: reload 1s;
          animation: reload 1s; }

.carousel-component {
  position: relative;
  white-space: nowrap; }

.carousel-component img {
  width: 100%;
  max-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  box-sizing: border-box; }

/* == Cross-fade Style ============ */
.carousel-component.cross-fade img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s; }

.carousel-component.cross-fade img.OPEN {
  opacity: 1; }

/* == Slide Style ============ */
.carousel-component.slide img {
  position: relative;
  display: inline-block;
  margin-left: 0;
  transition: margin 1s; }

.carousel-component.slide img.LEAVE {
  margin-left: -100%; }


.dropzone-component .area {
  width: 300px;
  height: 200px;
  border: solid 1px rgba(0, 85, 170, 0.5); }

.dropzone-component .area:hover,
.dropzone-component .area:active {
  box-shadow: 0px 0px 5px #05a; }

.flip-card-component > ul {
  text-align: center; }

.flip-card-component > ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 250px;
  margin: 0 5px;
  -webkit-perspective: 500px;
          perspective: 500px;
  cursor: pointer; }

.flip-card-component > ul li.HIGHLIGHTED {
  cursor: auto; }

.flip-card-component > ul li .side {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  max-height: 100%;
  background-color: #0af;
  color: #eee;
  border-radius: 8px;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden; }

.flip-card-component > ul li .side img {
  max-width: 100%;
  max-height: 100%; }

/* Left to Right (Default) */
.flip-card-component.lr > ul li .side.b,
.flip-card-component > ul li.lr .side.b {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg); }

.flip-card-component.lr > ul li:hover .side.a,
.flip-card-component > ul li.lr:hover .side.a {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.flip-card-component > ul li:hover .side.b,
.flip-card-component.lr > ul li:hover .side.b,
.flip-card-component > ul li.lr:hover .side.b {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg); }

/* Right to Left */
.flip-card-component.rl > ul li .side.b,
.flip-card-component > ul li.rl .side.b {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.flip-card-component.rl > ul li:hover .side.a,
.flip-card-component > ul li.rl:hover .side.a {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg); }

.flip-card-component.rl > ul li:hover .side.b,
.flip-card-component > ul li.rl:hover .side.b {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg); }

/* Top to Bottom */
.flip-card-component.tb > ul li .side.b,
.flip-card-component > ul li.tb .side.b {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

.flip-card-component.tb > ul li.HIGHLIGHTED .side.a,
.flip-card-component.tb > ul li:hover .side.a,
.flip-card-component > ul li.tb:hover .side.a {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }

.flip-card-component.tb > ul li.HIGHLIGHTED .side.b,
.flip-card-component.tb > ul li:hover .side.b,
.flip-card-component > ul li.tb:hover .side.b {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg); }

/* Bottom to Top */
.flip-card-component.bt > ul li .side.b,
.flip-card-component > ul li.bt .side.b {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }

.flip-card-component.bt > ul.show-all li .side.a,
.flip-card-component.bt > ul li.HIGHLIGHTED .side.a {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

.flip-card-component.bt > ul.show-all li .side.b,
.flip-card-component.bt > ul li.HIGHLIGHTED .side.b {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg); }

.frame-component .frame {
  position: relative;
  width: 70%;
  max-width: 977px; }

.frame-component .frame img.background {
  display: block;
  width: 100%; }

.frame-component .frame .content-group {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 12px; }

.frame-component .frame .content-group > * {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center; }

.multiple-choice-component ul {
  padding-left: 20px; }

.multiple-choice-component li {
  list-style: circle;
  cursor: pointer; }

.multiple-choice-component li:hover {
  color: #05a; }

.multiple-choice-component li.SELECTED {
  list-style: disc;
  font-weight: bold; }

.multiple-choice-component li button {
  float: left; }


.reveal-component ul {
  position: relative;
  padding: 0; }

.reveal-component li {
  list-style: none;
  opacity: 0;
  transition: opacity 0.5s; }

.reveal-component li.OPEN {
  opacity: 1; }


.screen-basic-component > *:nth-child(2) {
  margin-top: 45px; }

.screen-basic-component button.close {
  position: relative;
  float: right;
  border: none;
  font-size: 2em;
  z-index: 2; }

.screen-basic-component button.close:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8); }

.screen-quit-component {
  opacity: 0;
  box-shadow: none; }

.QUIT-SCREEN .screen.screen-quit-component.OPEN {
  opacity: 1; }

.QUIT-SCREEN .screen.OPEN {
  opacity: 0; }

.screen-quit-component.LEAVE {
  z-index: 1; }

.screen-quit-component.LEAVE-END {
  z-index: -1; }

.screen-quit-component {
  z-index: 1; }

.screen-quit-component .frame-component .frame .content-group {
  margin: 0; }

.screen-quit-component .frame-component .frame .prev-screen,
.screen-quit-component .frame-component .frame .next-screen {
  display: none; }

.screen-quit-component h2 {
  font-size: 40px;
  margin: 40px 0 0; }

.screen-quit-component h3 {
  margin: 10px 0 140px; }

.screen-quit-component button {
  position: absolute;
  bottom: 35px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.screen-quit-component button.yes {
  left: 25%; }

.screen-quit-component button.no {
  left: 75%; }

.selectable-component .items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  height: 250px;
  list-style: none; }

.selectable-component .items li {
  position: relative;
  width: 200px; }

.selectable-component .items li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0, 0.18, 0, 1.01);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0, 0.18, 0, 1.01);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0, 0.18, 0, 1.01), -webkit-transform 0.5s cubic-bezier(0, 0.18, 0, 1.01); }

.selectable-component.VOICE-OVER .items li img,
.VOICE-OVER .selectable-component .items li img {
  /* disables the :hover rules when a VO is playing. */
  pointer-events: none; }

.selectable-component .items li img.checked:hover,
.selectable-component .items li img.unchecked:hover {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px); }

.selectable-component .items li img.checked {
  opacity: 1; }

.selectable-component .items li.HIGHLIGHTED img.checked {
  opacity: 0;
  z-index: -1;
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.selectable-component .items li.HIGHLIGHTED img.unchecked {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0); }


.selectable-all-component .bin {
  display: none; }

.selectable-all-component .viewport {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.selectable-all-component ul {
  text-align: center; }

.selectable-all-component li {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 150px;
  background: no-repeat center center;
  background-size: 100%;
  /* Id rather do a transform but this works better with click events. I may want to do my own hit testing. */
  transition: top cubic-bezier(1, 0.01, 1, 1);
  top: 600px; }

.selectable-all-component li.LAUNCHED {
  top: -200px; }

.selectable-all-component li.b {
  background-image: url(images/ballon_1.png); }

.selectable-all-component li.b.HIGHLIGHTED {
  background-image: url(images/ballon_1_on.png); }

.selectable-all-component li.ws {
  background-image: url(images/ballon_10.png); }

.selectable-all-component li.ws.HIGHLIGHTED {
  background-image: url(images/ballon_10_on.png); }

.selectable-all-component li.f {
  background-image: url(images/ballon_14.png); }

.selectable-all-component li.f.HIGHLIGHTED {
  background-image: url(images/ballon_14_on.png); }


.title-component img.background {
  min-width: 100%;
  min-height: 100%; }

.title-component .center .content-group {
  text-align: center; }

.title-component .center img {
  width: 70%;
  opacity: 0;
  transition: opacity 0.5s; }

.title-component .center img.animated {
  opacity: 1; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default; }

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif; }

body {
  position: relative;
  width: 960px;
  margin: auto;
  font-size: 20px;
  background: bottom center no-repeat;
  background-size: cover;
  background-image: url(../media/images/background/title.png); }
  body.id {
    background-image: url(../media/images/background/id.png); }
  body.match {
    background-image: url(../media/images/background/match.png); }
  body.nose {
    background-image: url(../media/images/background/nose.png); }

/**
 * Removes gray box when tapping on actionables.
 */
[pl-action] {
  -webkit-tap-highlight-color: transparent; }

#asset-bin {
  display: none; }

button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  background-image: url(../media/images/button.png);
  background-size: 1230px 218px;
  background-position: left top; }
  button.close {
    width: 60px;
    height: 60px;
    background-position: -1165px -30px; }
    button.close:hover {
      background-position: -1165px -143px; }
  button.next-screen, button.prev-screen {
    background-repeat: no-repeat;
    width: 100px;
    height: 80px; }
  button.next-screen {
    background-position: -990px -20px; }
    button.next-screen:hover {
      background-position: -990px -134px; }
  button.prev-screen {
    background-position: -810px -20px; }
    button.prev-screen:hover {
      background-position: -810px -134px; }
  button.no, button.yes {
    width: 200px;
    height: 100px; }
  button.no {
    background-position: -280px 0px; }
    button.no:hover {
      background-position: -280px -114px; }
  button.yes {
    background-position: -5px 0px; }
    button.yes:hover {
      background-position: -5px -114px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px;
  margin: 0 0 30px; }

.canvas-src {
  display: none; }

.screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, transform 0.5s;
  transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%); }

.screen.OPEN {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.screen.LEAVE {
  opacity: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%); }

.screen .next-screen,
.screen .prev-screen {
  position: absolute;
  display: block;
  bottom: 1%;
  z-index: 2; }

.screen .next-screen {
  margin-top: 5px;
  margin-right: 5px;
  right: 3%;
  background-image: url(../media/images/button.png);
  transition: opacity 1s; }

.screen.GATED .next-screen {
  opacity: 0;
  cursor: default; }

body.DEMO .screen .next-screen,
body.DEMO #match-game:not(.COMPLETE) .next-screen,
body.DEMO #match-game:not(.COMPLETE) .reveal-component ul li div .next-screen,
body.DEMO .screen.no-frame .frame .reveal-component .next-screen,
.screen.COMPLETE .next-screen {
  opacity: 1;
  display: block;
  cursor: pointer; }

.screen .next-screen:hover {
  background-image: url(../media/images/button.png); }

.screen .prev-screen {
  margin-top: 5px;
  margin-left: 10px;
  left: 3%;
  background-image: url(../media/images/button.png); }

.screen .prev-screen:hover {
  background-image: url(../media/images/button.png); }

.screen.no-frame {
  color: #fff; }
  .screen.no-frame .frame {
    text-align: center; }

#title button.next-screen {
  width: 200px;
  height: 100px;
  background-position: -540px 0px;
  -webkit-transform: translateX(0);
          transform: translateX(0); }
  #title button.next-screen:hover {
    background-position: -540px -114px; }

#title button.prev-screen {
  display: none; }

#title .content-group {
  opacity: 0;
  transition: opacity .5s 1.5s; }

#title.READY.OPEN .content-group {
  opacity: 1; }

#title.READY.OPEN img {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-name: tada;
          animation-name: tada; }

#info-match h3 {
  text-shadow: 0 3px 10px #000;
  font-size: 40px;
  margin-bottom: 10px; }

#info-match .frame {
  text-align: center; }
  #info-match .frame div {
    float: left;
    width: 50%; }
    #info-match .frame div img {
      width: auto;
      height: 250px; }
      #info-match .frame div img:nth-of-type(1) {
        height: 130px; }

#what-does-a-nose-do img {
  width: 900px; }

#what-does-a-nose-do h3 {
  font-size: 36px; }

#what-does-a-nose-do .items {
  display: block; }
  #what-does-a-nose-do .items li {
    width: 200px; }
    #what-does-a-nose-do .items li img {
      position: absolute;
      left: 0;
      top: 0;
      width: auto;
      max-width: 200%;
      height: 100%;
      opacity: 1;
      transition: none; }
    #what-does-a-nose-do .items li .b img {
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }

#what-does-a-nose-do .flip-card-component > ul li .side {
  background-color: transparent; }

#what-does-a-nose-do .reveal-component {
  display: none; }

body:not(.DEMO) #what-does-a-nose-do.SFX .items, body:not(.DEMO) #what-does-a-nose-do.VOICE-OVER .items {
  pointer-events: none; }

.screen.screen-id .frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: left; }
  .screen.screen-id .frame .selectable-component {
    position: static; }
  .screen.screen-id .frame img {
    position: absolute;
    left: 0;
    top: 0; }
  .screen.screen-id .frame .items {
    width: 70%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .screen.screen-id .frame .items li {
      width: 300px;
      margin: 10px 18px;
      cursor: pointer;
      max-height: 200px; }
      .screen.screen-id .frame .items li img {
        opacity: 1;
        position: relative; }
      .screen.screen-id .frame .items li:before, .screen.screen-id .frame .items li:after {
        content: "";
        display: block;
        position: absolute;
        left: -9%;
        top: -16%;
        width: 130%;
        height: 125%;
        background: url(../media/images/frame/id.png) no-repeat;
        background-size: 200% 100%;
        z-index: 1; }
      .screen.screen-id .frame .items li:after {
        background-position: 107% 0;
        opacity: 0;
        transition: opacity .4s; }
      .screen.screen-id .frame .items li:hover:after {
        opacity: 1; }
  .screen.screen-id .frame .bin {
    display: none; }

.screen.screen-id .next-screen {
  opacity: 0; }

.screen.screen-id.RETURN .next-screen {
  opacity: 1; }

.screen.screen-id.VOICE-OVER .frame .items li {
  cursor: auto; }
  .screen.screen-id.VOICE-OVER .frame .items li:hover:after {
    opacity: 0; }

.screen.no-frame .frame .reveal-component {
  position: static; }
  .screen.no-frame .frame .reveal-component ul {
    position: static;
    margin: 0; }
  .screen.no-frame .frame .reveal-component li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: z-index 0s .5s, opacity .5s; }
    .screen.no-frame .frame .reveal-component li div {
      background: url(../media/images/frame/reveal.png) no-repeat;
      background-size: 100% auto;
      background-position: center center;
      position: absolute;
      width: 80%;
      height: 0;
      padding-bottom: 50%;
      left: 10%;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .screen.no-frame .frame .reveal-component li div h3 {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        text-align: center;
        color: #000; }
    .screen.no-frame .frame .reveal-component li.OPEN {
      z-index: 1;
      transition: z-index 0s, opacity .5s; }
  .screen.no-frame .frame .reveal-component .next-screen {
    float: none;
    position: absolute;
    bottom: 12%;
    right: 10%;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0;
    transition: opacity .5s; }

.screen.no-frame.COMPLETE .frame .reveal-component .next-screen {
  opacity: 1;
  cursor: pointer; }

.screen.snout .frame h2 {
  font-size: 60px;
  margin: 20px 0 40px; }

.screen.snout .frame > div {
  position: relative;
  width: 760px;
  margin: 45px auto 0; }
  .screen.snout .frame > div span {
    position: absolute;
    display: block;
    background-image: url(../media/images/img_14.2.png);
    background-size: 760px 160px;
    background-repeat: no-repeat; }
    .screen.snout .frame > div span:nth-of-type(1) {
      background-size: 770px 160px;
      width: 200px;
      height: 80px;
      top: -2px;
      left: 110px;
      background-position: -100px 0px;
      -webkit-animation-delay: 4.5s;
      animation-delay: 4.5s; }
    .screen.snout .frame > div span:nth-of-type(2) {
      background-size: 770px 160px;
      width: 230px;
      height: 80px;
      top: -3px;
      left: 303px;
      background-position: -300px 0px;
      -webkit-animation-delay: 6s;
      animation-delay: 6s; }
    .screen.snout .frame > div span:nth-of-type(3) {
      width: 270px;
      height: 75px;
      top: -2px;
      left: 524px;
      background-position: -520px 0px;
      -webkit-animation-delay: 7.5s;
      animation-delay: 7.5s; }
    .screen.snout .frame > div span:nth-of-type(4) {
      width: 240px;
      height: 80px;
      top: 78px;
      left: 24px;
      background-position: -10px -80px;
      -webkit-animation-delay: 8.75s;
      animation-delay: 8.75s; }
    .screen.snout .frame > div span:nth-of-type(5) {
      width: 260px;
      height: 80px;
      top: 78px;
      left: 260px;
      background-position: -250px -80px;
      -webkit-animation-delay: 10s;
      animation-delay: 10s; }
    .screen.snout .frame > div span:nth-of-type(6) {
      width: 260px;
      height: 80px;
      top: 70px;
      left: 515px;
      background-position: -510px -72px;
      -webkit-animation-delay: 11s;
      animation-delay: 11s; }

.screen.snout.OPEN .frame > div span {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn; }

#match-game .frame {
  position: static; }

#match-game .match-game-component .bin {
  display: none; }

#match-game .match-game-component .items {
  width: 800px;
  height: auto;
  position: absolute;
  padding: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-60%);
          transform: translateX(-50%) translateY(-60%);
  z-index: 1;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  #match-game .match-game-component .items li {
    width: 150px;
    height: 150px; }
    #match-game .match-game-component .items li:nth-of-type(7) {
      margin-right: 165px; }
    #match-game .match-game-component .items li .side {
      background-color: transparent;
      background-image: url(../media/images/match/img_13.1.png);
      background-position: -10px -15px;
      background-size: 1800% 120%; }
    #match-game .match-game-component .items li.fox .side.b {
      background-position: -190px -15px; }
    #match-game .match-game-component .items li.frog .side.b {
      background-position: -370px -15px; }
    #match-game .match-game-component .items li.rhino .side.b {
      background-position: -550px -15px; }
    #match-game .match-game-component .items li.mouse .side.b {
      background-position: -730px -15px; }
    #match-game .match-game-component .items li.cactus .side.b {
      background-position: -914px -15px; }
    #match-game .match-game-component .items li.oxpecker .side.b {
      background-position: -1094px -15px; }
    #match-game .match-game-component .items li.worm .side.b {
      background-position: -1276px -15px; }
    #match-game .match-game-component .items li.robin .side.b {
      background-position: -1450px -15px; }
    #match-game .match-game-component .items li.lily-pad .side.b {
      background-position: -1637px -15px; }
    #match-game .match-game-component .items li.humming-bird .side.b {
      background-position: -1818px -15px; }
    #match-game .match-game-component .items li.dove .side.b {
      background-position: -1999px -15px; }
    #match-game .match-game-component .items li.grass .side.b {
      background-position: -2170px -15px; }
    #match-game .match-game-component .items li.honeysuckle .side.b {
      background-position: -2350px -15px; }
    #match-game .match-game-component .items li.cow .side.b {
      background-position: -2543px -15px; }

#match-game .match-game-component.DISABLED .items {
  pointer-events: none; }

#match-game .reveal-component ul li div {
  background: url(../media/images/frame/match.png) no-repeat;
  background-size: 100% auto;
  background-position: center center;
  padding-bottom: 70%;
  top: 45%;
  text-align: center;
  color: #000; }
  #match-game .reveal-component ul li div img {
    display: block;
    max-width: 80%;
    max-height: 250px; }
    #match-game .reveal-component ul li div img:nth-of-type(1) {
      margin: 15% auto 0; }
    #match-game .reveal-component ul li div img:nth-of-type(2) {
      margin: -5% auto 0;
      max-height: 70px; }
  #match-game .reveal-component ul li div p {
    margin: -2% 0 0;
    font-size: 30px; }
    #match-game .reveal-component ul li div p.small-font {
      font-size: 26px; }
  #match-game .reveal-component ul li div .next-screen {
    bottom: 17%;
    right: 13%;
    display: block;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer; }

#match-game:not(.COMPLETE).PLAYING .reveal-component ul li div .next-screen,
#match-game:not(.COMPLETE).VOICE-OVER .reveal-component ul li div .next-screen {
  opacity: 0;
  cursor: auto; }

.dropzone-component {
  display: inline-block;
  vertical-align: middle; }
  .dropzone-component .area {
    position: relative;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background-size: 3200px;
    background-image: url(../media/images/img_17-24.1.png); }
    .dropzone-component .area img {
      display: none; }
    .dropzone-component .area:after {
      content: "";
      background-image: url(../media/images/frame/dropzone.png);
      background-size: 100% 100%;
      width: 140%;
      height: 140%;
      position: absolute;
      left: -20%;
      top: -20%; }

.draggable {
  height: inherit;
  background: none !important; }
  .draggable:before {
    content: '';
    background-image: url(../media/images/img_17-24.2.png);
    background-size: 3036px;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%; }
  .draggable::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../media/images/frame/draggable.png);
    background-size: auto 120%;
    background-position: left center; }
  .draggable.d-1:before {
    background-position: 0px 0; }
  .draggable.d-2:before {
    background-position: -125px 0; }
  .draggable.d-3:before {
    background-position: -248px 0; }
  .draggable.d-4:before {
    background-position: -375px 0; }
  .draggable.d-5:before {
    background-position: -500px 0; }
  .draggable.d-6:before {
    background-position: -625px 0; }
  .draggable.d-7:before {
    background-position: -750px 0; }
  .draggable.d-8:before {
    background-position: -878px 0; }
  .draggable.d-9:before {
    background-position: -1004px 0; }
  .draggable.d-10:before {
    background-position: -1130px 0; }
  .draggable.d-11:before {
    background-position: -1258px 0; }
  .draggable.d-12:before {
    background-position: -1384px 0; }
  .draggable.d-13:before {
    background-position: -1510px 0; }
  .draggable.d-14:before {
    background-position: -1635px 0; }
  .draggable.d-15:before {
    background-position: -1764px 0; }
  .draggable.d-16:before {
    background-position: -1892px 0; }
  .draggable.d-17:before {
    background-position: -2020px 0; }
  .draggable.d-18:before {
    background-position: -2145px 0; }
  .draggable.d-19:before {
    background-position: -2275px 0; }
  .draggable.d-20:before {
    background-position: -2400px 0; }
  .draggable.d-21:before {
    background-position: -2525px 0; }
  .draggable.d-22:before {
    background-position: -2650px 0; }
  .draggable.d-23:before {
    background-position: -2778px 0; }
  .draggable.d-24:before {
    background-position: -2904px 0; }

#dnd-lion .area {
  background-position: -20px -20px; }

#dnd-sloth .area {
  background-position: -2820px -20px; }

#dnd-wolf .area {
  background-position: -420px -20px; }

#dnd-elephant .area {
  background-position: -2420px -20px; }

#dnd-dragon .area {
  background-position: -820px -20px; }

#dnd-pig .area {
  background-position: -2020px -20px; }

#dnd-gorilla .area {
  background-position: -1220px -20px; }

#dnd-mule .area {
  background-position: -1620px -20px; }

.draggables {
  width: 195px;
  padding: 0;
  margin-left: 40px;
  display: inline-block;
  list-style: none;
  vertical-align: middle; }
  .draggables li {
    height: 170px;
    background: url(../media/images/frame/draggable.png) right center;
    background-size: auto 120%; }
    .draggables li .draggable {
      position: relative; }
      .draggables li .draggable.PLUCKED:before {
        background-position: 95% 0; }

.screen.screen-dropzone > .next-screen {
  opacity: 0; }

.screen.screen-dropzone h3 {
  font-size: 28px; }

.screen.screen-dropzone.RETURN > .next-screen {
  opacity: 1; }

#flip h3 {
  font-size: 36px; }

#flip .flip {
  width: 600px;
  margin: -140px 0; }

.screen.OPEN .flip {
  -webkit-animation: flipInX 2s;
  animation: flipInX 2s; }

.POSITIONED {
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.POSITIONED.absolute {
  position: absolute;
  top: 0;
  left: 0; }

.PLUCKED {
  opacity: 0; }

.draggables [pl-draggable] {
  cursor: -webkit-grab; }

.draggables .DRAG-START,
.draggables .DRAGGING,
.draggable-helper {
  z-index: 1;
  cursor: -webkit-grabbing; }

.draggable-helper.PLUCKED {
  opacity: 1; }

.draggable-helper.RETURN {
  opacity: 0;
  /* One of the rare times I'll use important. This is to override an inline style. */
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
  transition: opacity 1s, -webkit-transform 0.5s cubic-bezier(0, 0.18, 0, 1.01);
  transition: transform 0.5s cubic-bezier(0, 0.18, 0, 1.01), opacity 1s;
  transition: transform 0.5s cubic-bezier(0, 0.18, 0, 1.01), opacity 1s, -webkit-transform 0.5s cubic-bezier(0, 0.18, 0, 1.01); }

.draggable-helper.RETURN.PLUCKED {
  opacity: 1; }

.draggable-helper.DROPED {
  opacity: 0;
  transition: opacity 1s; }

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap; }

.center.inline {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 100%; }

.center::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.center > * {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: normal; }
