.reveal-component {
	opacity: 0;
	transition: opacity 1s;
}

.reveal-component.OPEN {
	opacity: 1;
	z-index: auto;
}

.reveal-component.ANIM-DONE {
	z-index: -1;
}
	
	.reveal-component ul {
		position: relative;
		padding: 0;
		width: 300px;
	}

		.reveal-component li {
			list-style: none;
			display: none;
		}

		.reveal-component li.SELECTED {
			display: block;
		}

		.reveal-component img {
			width: 100%;
		}
