.selectable-canvas-component {
  position: absolute;
  width: 960px;
  height: 540px; }
  .selectable-canvas-component .items {
    position: static;
    list-style: none;
    margin: 0; }
    .selectable-canvas-component .items li {
      position: static; }
      .selectable-canvas-component .items li img {
        position: absolute; }

.video-component {
  background-image: url(../media/_Frames/FR_9.png);
  background-size: 100% 100%; }
  .video-component video {
    margin: 40px 50px 40px 45px; }

.reveal-component ul {
  position: relative;
  padding: 0; }

.reveal-component li {
  list-style: none;
  opacity: 0;
  transition: opacity 0.5s; }

.reveal-component li.OPEN {
  opacity: 1; }

.screen-quit-component {
  opacity: 0;
  box-shadow: none; }

.screen-quit-component.OPEN {
  opacity: 1; }

.screen-quit-component.LEAVE {
  z-index: 1; }

.screen-quit-component.LEAVE-END {
  z-index: -1; }

.screen-quit-component .center {
  width: 100%;
  height: 100%; }

.screen-quit-component button {
  margin-right: 10px; }

.QUIT-SCREEN .screen.screen-quit-component.OPEN {
  opacity: 1; }

.QUIT-SCREEN .screen.OPEN {
  opacity: 0; }

.screen-basic-component button.close {
  position: relative;
  float: right;
  border: none;
  font-size: 2em;
  z-index: 1; }

.screen-basic-component button.close:active {
  transform: scale(0.8); }

.selectable-component .items {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  height: 250px;
  list-style: none; }

.selectable-component .items li {
  position: relative;
  width: 200px; }

.selectable-component .items li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0, 0.18, 0, 1.01); }

.selectable-component.VOICE-OVER .items li img,
.VOICE-OVER .selectable-component .items li img {
  /* disables the :hover rules when a VO is playing. */
  pointer-events: none; }

.selectable-component .items li img.checked:hover,
.selectable-component .items li img.unchecked:hover {
  transform: translateY(-40px); }

.selectable-component .items li img.checked {
  opacity: 1; }

.selectable-component .items li.HIGHLIGHTED img.checked {
  opacity: 0;
  z-index: -1;
  transform: translateY(0); }

.selectable-component .items li.HIGHLIGHTED img.unchecked {
  opacity: 1;
  transform: translateY(0); }

.title-component img.background {
  min-width: 100%;
  min-height: 100%; }

.title-component .center img {
  width: 70%;
  opacity: 0;
  transition: opacity 0.5s; }

.title-component .center img.animated {
  opacity: 1; }

@font-face {
  font-family: 'CMWN';
  src: url("../media/fonts/CMWN_Jade.eot");
  /* IE9 Compat Modes */
  src: url("../media/fonts/CMWN_Jade.eot?#iefix") format("embedded-opentype"), url("../media/fonts/CMWN_Jade.woff") format("woff"), url("../media/fonts/CMWN_Jade.ttf") format("truetype"), url("../media/fonts/CMWN_Jade.svg#4012903f3d164196860fdbc893b3e032") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  user-drag: none;
  cursor: default; }

html {
  font-family: "CMWN", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  color: #452914; }

body {
  position: relative;
  width: 960px;
  margin: auto;
  font-size: 20px; }
  body .background {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  body .background.default {
    opacity: 1;
    background-image: url(../media/_BKG/BKG_1.png); }
  body .background.excel {
    background-image: url(../media/_BKG/BKG_2.png); }
  body .background.look-out {
    background-image: url(../media/_BKG/BKG_4.png); }
  body .background.feel {
    background-image: url(../media/_BKG/BKG_5.png); }
  body .background.movie {
    background-image: url(../media/_BKG/BKG_6.png); }
  body .background.upload {
    background-image: url(../media/_BKG/BKG_7.png); }
  body .background.flip {
    background-image: url(../media/_BKG/BKG_8.png); }
  body.excel:not(.QUIT-SCREEN) > .background.excel,
  body.look-out:not(.QUIT-SCREEN) > .background.look-out,
  body.feel:not(.QUIT-SCREEN) > .background.feel,
  body.movie:not(.QUIT-SCREEN) > .background.movie,
  body.upload:not(.QUIT-SCREEN) > .background.upload,
  body.flip:not(.QUIT-SCREEN) > .background.flip {
    opacity: 1; }

#asset-bin {
  display: none; }

button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  background-image: url(../media/_Buttons/BU_1.png);
  background-size: auto 250px;
  background-position: left top; }
  button.close {
    width: 40px;
    height: 40px;
    background-position: -436px 214px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    z-index: 2; }
    button.close:hover {
      background-position: -436px 83px; }
  button.next-screen, button.prev-screen {
    width: 100px;
    height: 80px; }
  button.next-screen {
    background-position: -310px 484px; }
    button.next-screen:hover {
      background-position: -310px 604px; }
  button.prev-screen {
    background-position: -195px 484px; }
    button.prev-screen:hover {
      background-position: -195px 604px; }
  button.play {
    width: 200px;
    height: 80px;
    background-position: -560px 235px; }
    button.play:hover {
      background-position: -560px 104px; }
  button.quit-yes {
    width: 170px;
    height: 90px;
    background-position: 330px 490px; }
    button.quit-yes:hover {
      background-position: 330px 360px; }
  button.quit-no {
    width: 170px;
    height: 90px;
    background-position: 170px 490px; }
    button.quit-no:hover {
      background-position: 170px 360px; }
  button.reveal-close {
    width: 40px;
    height: 40px;
    background-position: -503px 463px; }
    button.reveal-close:hover {
      background-position: -503px 333px; }

h2 {
  font-size: 50px; }

h3 {
  font-size: 36px;
  margin: 0; }

p {
  font-size: 28px;
  margin: 0; }

.canvas-src {
  display: none; }

.screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: none;
  transition: opacity 1s, transform 0.5s;
  transform: translateX(100%); }

.screen.OPEN {
  opacity: 1;
  transform: translateX(0); }

.screen.READY {
  display: block; }

.screen.LEAVE {
  opacity: 1;
  transform: translateX(-100%); }

.screen .next-screen,
.screen .prev-screen {
  position: absolute;
  display: block;
  bottom: 1%;
  z-index: 2; }

.screen .next-screen {
  margin-right: 5px;
  right: 0;
  opacity: 0;
  transform: rotate(-180deg);
  transition: opacity 1s, transform 1s; }

.screen.GATED .next-screen {
  opacity: 0;
  cursor: default; }

.pl-game.DEMO .screen .next-screen,
.screen.COMPLETE .next-screen {
  opacity: 1;
  transform: rotate(0deg);
  cursor: pointer; }

.screen .prev-screen {
  margin-left: 5px;
  left: 0; }

.screen.no-frame {
  color: #fff; }
  .screen.no-frame .frame {
    text-align: center; }

.frame {
  position: relative;
  text-align: center; }
  .frame .background {
    opacity: 1;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.frame-component .center {
  overflow: hidden; }
  .frame-component .center .content-group {
    overflow: visible; }
    .frame-component .center .content-group div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0; }

.frame-component .frame {
  position: relative;
  width: 960px;
  height: 200px; }
  .frame-component .frame img.background {
    position: absolute;
    width: 105%;
    left: -2.5%;
    opacity: 1; }

#title {
  text-align: center; }
  #title button.prev-screen {
    display: none; }
  #title button.next-screen {
    width: 180px;
    height: 100px;
    right: 100px;
    bottom: 80px;
    background-position: -10px 494px; }
    #title button.next-screen:hover {
      background-position: -10px 614px; }
  #title img {
    display: inline-block;
    width: 800px;
    margin: 60px auto; }
  #title.OPEN img {
    animation-name: rubberBand; }

.screen.excel .frame {
  width: 680px;
  height: 240px;
  margin-left: 200px;
  margin-bottom: 520px; }
  .screen.excel .frame p {
    padding: 50px 40px 40px;
    font-size: 28px;
    line-height: 32px; }

.screen.roles {
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  width: 960px;
  height: 540px;
  position: relative;
  top: 50%;
  margin-top: -270px;
  overflow: hidden; }
  .screen.roles .selectable-canvas-component .items li:nth-of-type(1) img {
    width: 240px;
    left: 0;
    bottom: 0; }
  .screen.roles .selectable-canvas-component .items li:nth-of-type(2) img {
    width: 183px;
    left: 174px;
    bottom: 9px; }
  .screen.roles .selectable-canvas-component .items li:nth-of-type(3) img {
    width: 332px;
    left: 65px;
    bottom: 165px; }
  .screen.roles .selectable-canvas-component .items li:nth-of-type(4) img {
    width: 285px;
    left: 314px;
    bottom: -24px; }
  .screen.roles .selectable-canvas-component .items li:nth-of-type(5) img {
    width: 215px;
    left: 523px;
    bottom: -5px; }
  .screen.roles .selectable-canvas-component .items li:nth-of-type(6) img {
    width: 255px;
    left: 692px;
    bottom: -4px; }
  .screen.roles .selectable-canvas-component .items li img {
    opacity: 0;
    z-index: 1;
    transition: opacity .5s; }
  .screen.roles .selectable-canvas-component .items li.HIGHLIGHTED img {
    opacity: 1; }
  .screen.roles .selectable-canvas-component .items li.ACTIVE:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2; }
  .screen.roles .selectable-canvas-component .items li.ACTIVE img {
    z-index: 2; }
  .screen.roles .reveal-component {
    position: static; }
    .screen.roles .reveal-component .items {
      position: static;
      margin: 0; }
      .screen.roles .reveal-component .items li {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0;
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        transition: z-index 0s .5s; }
        .screen.roles .reveal-component .items li img:not(.background) {
          display: block;
          margin: 0 auto;
          height: 70px; }
        .screen.roles .reveal-component .items li .background {
          opacity: 1;
          z-index: -1; }
        .screen.roles .reveal-component .items li div {
          position: absolute;
          box-sizing: border-box; }
          .screen.roles .reveal-component .items li div button {
            position: absolute;
            right: 60px;
            top: 65px; }
        .screen.roles .reveal-component .items li.OPEN {
          z-index: 2;
          opacity: 1;
          transition: z-index 0s; }
        .screen.roles .reveal-component .items li:nth-of-type(1) div {
          width: 640px;
          height: 280px;
          padding: 50px 70px 70px 130px;
          margin: 10px 110px; }
          .screen.roles .reveal-component .items li:nth-of-type(1) div button {
            right: 40px;
            top: 35px; }
        .screen.roles .reveal-component .items li:nth-of-type(2) div {
          width: 540px;
          height: 320px;
          padding: 22px 30px 70px 30px;
          margin: 0px 160px; }
          .screen.roles .reveal-component .items li:nth-of-type(2) div button {
            right: 30px;
            top: 38px; }
        .screen.roles .reveal-component .items li:nth-of-type(3) div {
          width: 580px;
          height: 280px;
          padding: 35px 40px 70px 30px;
          margin: 190px 100px; }
          .screen.roles .reveal-component .items li:nth-of-type(3) div button {
            right: 40px;
            top: 70px; }
        .screen.roles .reveal-component .items li:nth-of-type(4) div {
          width: 460px;
          height: 340px;
          padding: 45px 70px 70px 40px;
          margin: 20px 0px; }
          .screen.roles .reveal-component .items li:nth-of-type(4) div button {
            right: 60px;
            top: 30px; }
        .screen.roles .reveal-component .items li:nth-of-type(5) div {
          width: 580px;
          height: 310px;
          padding: 50px 40px 70px 40px;
          margin: 0px 30px; }
          .screen.roles .reveal-component .items li:nth-of-type(5) div button {
            right: 37px;
            top: 35px; }
        .screen.roles .reveal-component .items li:nth-of-type(6) div {
          width: 580px;
          height: 290px;
          padding: 55px 100px 70px 40px;
          margin: 0px 200px; }
          .screen.roles .reveal-component .items li:nth-of-type(6) div button {
            right: 92px;
            top: 35px; }
        .screen.roles .reveal-component .items li:nth-of-type(7) {
          background: none;
          font-size: 40px;
          line-height: 48px; }
          .screen.roles .reveal-component .items li:nth-of-type(7) div {
            width: 720px;
            height: 340px;
            padding: 120px;
            margin: 100px 120px; }
  .screen.roles .reveal-close {
    opacity: 0;
    transition: opacity .5s;
    cursor: auto; }
  .screen.roles .OPEN .reveal-close {
    opacity: 1;
    cursor: pointer; }
  .screen.roles.VOICE-OVER .reveal-close {
    opacity: 0;
    cursor: auto; }

.DEMO .screen.roles .OPEN .reveal-close {
  opacity: 1;
  cursor: pointer; }

.screen.look-out .frame {
  width: 500px;
  height: 400px;
  margin-left: 300px;
  margin-top: 40px; }
  .screen.look-out .frame p {
    padding: 90px 40px 40px;
    font-size: 36px;
    line-height: 40px; }

.screen.feel .frame img {
  width: 960px; }

.screen.feel .selectable-component .items {
  display: block;
  width: 500px;
  margin: 20px 0 20px auto;
  text-align: left; }

.screen.feel .selectable-component li {
  display: inline-block;
  height: 50px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-top: 8px;
  cursor: pointer; }
  .screen.feel .selectable-component li:nth-of-type(1) {
    background-image: url(../media/S_6/img_6.2.png);
    width: 100px; }
    .screen.feel .selectable-component li:nth-of-type(1).HIGHLIGHTED, .screen.feel .selectable-component li:nth-of-type(1):hover {
      background-position: -100px 0; }
  .screen.feel .selectable-component li:nth-of-type(2) {
    background-image: url(../media/S_6/img_6.3.png);
    width: 130px; }
    .screen.feel .selectable-component li:nth-of-type(2).HIGHLIGHTED, .screen.feel .selectable-component li:nth-of-type(2):hover {
      background-position: -125px 0; }
  .screen.feel .selectable-component li:nth-of-type(3) {
    background-image: url(../media/S_6/img_6.4.png);
    width: 180px; }
    .screen.feel .selectable-component li:nth-of-type(3).HIGHLIGHTED, .screen.feel .selectable-component li:nth-of-type(3):hover {
      background-position: -180px 0; }
  .screen.feel .selectable-component li:nth-of-type(4) {
    background-image: url(../media/S_6/img_6.5.png);
    width: 175px;
    margin-left: 45px; }
    .screen.feel .selectable-component li:nth-of-type(4).HIGHLIGHTED, .screen.feel .selectable-component li:nth-of-type(4):hover {
      background-position: -173px 0; }
  .screen.feel .selectable-component li:nth-of-type(5) {
    background-image: url(../media/S_6/img_6.11.png);
    width: 175px; }
    .screen.feel .selectable-component li:nth-of-type(5).HIGHLIGHTED, .screen.feel .selectable-component li:nth-of-type(5):hover {
      background-position: -172px 0; }
  .screen.feel .selectable-component li:nth-of-type(6) {
    background-image: url(../media/S_6/img_6.6.png);
    width: 140px;
    margin-left: 135px; }
    .screen.feel .selectable-component li:nth-of-type(6).HIGHLIGHTED, .screen.feel .selectable-component li:nth-of-type(6):hover {
      background-position: -140px 0; }
  .screen.feel .selectable-component li:nth-of-type(7) {
    background-image: url(../media/S_6/img_6.10.png);
    width: 165px; }
    .screen.feel .selectable-component li:nth-of-type(7).HIGHLIGHTED, .screen.feel .selectable-component li:nth-of-type(7):hover {
      background-position: -162px 0; }
  .screen.feel .selectable-component li:nth-of-type(8) {
    background-image: url(../media/S_6/img_6.7.png);
    width: 125px;
    margin-left: 165px; }
    .screen.feel .selectable-component li:nth-of-type(8).HIGHLIGHTED, .screen.feel .selectable-component li:nth-of-type(8):hover {
      background-position: -119px 0; }
  .screen.feel .selectable-component li:nth-of-type(9) {
    background-image: url(../media/S_6/img_6.9.png);
    width: 145px; }
    .screen.feel .selectable-component li:nth-of-type(9).HIGHLIGHTED, .screen.feel .selectable-component li:nth-of-type(9):hover {
      background-position: -138px 0; }
  .screen.feel .selectable-component li:nth-of-type(10) {
    background-image: url(../media/S_6/img_6.8.png);
    width: 200px;
    margin-left: 220px; }
    .screen.feel .selectable-component li:nth-of-type(10).HIGHLIGHTED, .screen.feel .selectable-component li:nth-of-type(10):hover {
      background-position: -199px 0; }

.screen.feel.SFX .selectable-component li, .screen.feel.VOICE-OVER .selectable-component li {
  pointer-events: none; }

.screen.move .frame {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  padding: 120px 80px;
  box-sizing: border-box; }
  .screen.move .frame p {
    font-size: 36px; }
  .screen.move .frame img:not(.background) {
    width: 100%;
    margin-bottom: 60px; }

.screen.move .next-screen {
  display: none; }

.screen.flip .frame {
  width: 500px;
  height: 540px;
  margin: 0 60px 0 auto;
  box-sizing: border-box;
  padding: 100px 80px; }
  .screen.flip .frame p {
    font-size: 36px;
    line-height: 40px; }
  .screen.flip .frame .flip {
    width: 90%;
    margin-top: 30px;
    opacity: 0;
    transition: opacity .5s 4s; }

.screen.flip.OPEN .flip {
  -webkit-animation-name: rubberBand;
  -webkit-animation-delay: 4.5s;
  animation-name: rubberBand;
  animation-delay: 4.5s;
  opacity: 1; }

#quit .frame {
  width: 740px;
  height: 540px;
  text-align: center;
  box-sizing: border-box;
  padding: 100px 80px; }
  #quit .frame h2 {
    margin: 0; }
  #quit .frame h3 {
    margin: 20px 0 10px; }
  #quit .frame button {
    margin: 20px 10px; }

/*!
Animate.css - http://daneden.me/animate
Version - 3.4.0
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/
.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

.animated.infinite {
  animation-iteration-count: infinite; }

.animated.hinge {
  animation-duration: 2s; }

.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s; }

.animated.flipOutX,
.animated.flipOutY {
  animation-duration: .75s; }

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0); }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0); }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0); }
  90% {
    transform: translate3d(0, -4px, 0); } }

.bounce {
  animation-name: bounce;
  transform-origin: center bottom; }

@keyframes flash {
  from, 50%, to {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }

.flash {
  animation-name: flash; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }

.pulse {
  animation-name: pulse; }

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

.rubberBand {
  animation-name: rubberBand; }

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0); } }

.shake {
  animation-name: shake; }

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    transform: rotate3d(0, 0, 1, 0deg); } }

.swing {
  transform-origin: top center;
  animation-name: swing; }

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    transform: scale3d(1, 1, 1); } }

.tada {
  animation-name: tada; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble {
  from {
    transform: none; }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  to {
    transform: none; } }

.wobble {
  animation-name: wobble; }

@keyframes jello {
  from, 11.1%, to {
    transform: none; }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    transform: skewX(0.39062deg) skewY(0.39062deg); }
  88.8% {
    transform: skewX(-0.19531deg) skewY(-0.19531deg); } }

.jello {
  animation-name: jello;
  transform-origin: center; }

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

.bounceIn {
  animation-name: bounceIn; }

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none; } }

.bounceInDown {
  animation-name: bounceInDown; }

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }
  75% {
    transform: translate3d(-10px, 0, 0); }
  90% {
    transform: translate3d(5px, 0, 0); }
  to {
    transform: none; } }

.bounceInLeft {
  animation-name: bounceInLeft; }

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }
  75% {
    transform: translate3d(10px, 0, 0); }
  90% {
    transform: translate3d(-5px, 0, 0); }
  to {
    transform: none; } }

.bounceInRight {
  animation-name: bounceInRight; }

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  75% {
    transform: translate3d(0, 10px, 0); }
  90% {
    transform: translate3d(0, -5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

.bounceInUp {
  animation-name: bounceInUp; }

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }

.bounceOut {
  animation-name: bounceOut; }

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.bounceOutDown {
  animation-name: bounceOutDown; }

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

.bounceOutLeft {
  animation-name: bounceOutLeft; }

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

.bounceOutRight {
  animation-name: bounceOutRight; }

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

.bounceOutUp {
  animation-name: bounceOutUp; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInDown {
  animation-name: fadeInDown; }

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInDownBig {
  animation-name: fadeInDownBig; }

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInLeft {
  animation-name: fadeInLeft; }

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInLeftBig {
  animation-name: fadeInLeftBig; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInRight {
  animation-name: fadeInRight; }

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInRightBig {
  animation-name: fadeInRightBig; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUp {
  animation-name: fadeInUp; }

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUpBig {
  animation-name: fadeInUpBig; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }

.fadeOutDown {
  animation-name: fadeOutDown; }

@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }

.fadeOutDownBig {
  animation-name: fadeOutDownBig; }

@keyframes fadeOutLeft {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }

.fadeOutLeft {
  animation-name: fadeOutLeft; }

@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig; }

@keyframes fadeOutRight {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }

.fadeOutRight {
  animation-name: fadeOutRight; }

@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }

.fadeOutRightBig {
  animation-name: fadeOutRightBig; }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  animation-name: fadeOutUp; }

@keyframes fadeOutUpBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }

.fadeOutUpBig {
  animation-name: fadeOutUpBig; }

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out; }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in; }
  to {
    transform: perspective(400px);
    animation-timing-function: ease-in; } }

.animated.flip {
  backface-visibility: visible;
  animation-name: flip; }

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX; }

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to {
    transform: perspective(400px); } }

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY; }

@keyframes flipOutX {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.flipOutX {
  animation-name: flipOutX;
  backface-visibility: visible !important; }

@keyframes flipOutY {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }

.flipOutY {
  backface-visibility: visible !important;
  animation-name: flipOutY; }

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {
    transform: skewX(20deg);
    opacity: 1; }
  80% {
    transform: skewX(-5deg);
    opacity: 1; }
  to {
    transform: none;
    opacity: 1; } }

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out; }

@keyframes lightSpeedOut {
  from {
    opacity: 1; }
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in; }

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  to {
    transform-origin: center;
    transform: none;
    opacity: 1; } }

.rotateIn {
  animation-name: rotateIn; }

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }

.rotateInDownLeft {
  animation-name: rotateInDownLeft; }

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }

.rotateInDownRight {
  animation-name: rotateInDownRight; }

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }

.rotateInUpLeft {
  animation-name: rotateInUpLeft; }

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }

.rotateInUpRight {
  animation-name: rotateInUpRight; }

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1; }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }

.rotateOut {
  animation-name: rotateOut; }

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; } }

.rotateOutDownLeft {
  animation-name: rotateOutDownLeft; }

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }

.rotateOutDownRight {
  animation-name: rotateOutDownRight; }

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }

.rotateOutUpLeft {
  animation-name: rotateOutUpLeft; }

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }

.rotateOutUpRight {
  animation-name: rotateOutUpRight; }

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  20%, 60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }
  40%, 80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0; } }

.hinge {
  animation-name: hinge; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
  to {
    opacity: 1;
    transform: none; } }

.rollIn {
  animation-name: rollIn; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg); } }

.rollOut {
  animation-name: rollOut; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  animation-name: zoomIn; }

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInDown {
  animation-name: zoomInDown; }

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInLeft {
  animation-name: zoomInLeft; }

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInRight {
  animation-name: zoomInRight; }

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomInUp {
  animation-name: zoomInUp; }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.zoomOut {
  animation-name: zoomOut; }

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomOutDown {
  animation-name: zoomOutDown; }

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center; } }

.zoomOutLeft {
  animation-name: zoomOutLeft; }

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center; } }

.zoomOutRight {
  animation-name: zoomOutRight; }

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

.zoomOutUp {
  animation-name: zoomOutUp; }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInDown {
  animation-name: slideInDown; }

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInLeft {
  animation-name: slideInLeft; }

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInRight {
  animation-name: slideInRight; }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.slideInUp {
  animation-name: slideInUp; }

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0); } }

.slideOutDown {
  animation-name: slideOutDown; }

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0); } }

.slideOutLeft {
  animation-name: slideOutLeft; }

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0); } }

.slideOutRight {
  animation-name: slideOutRight; }

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0); } }

.slideOutUp {
  animation-name: slideOutUp; }

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap; }

.center.inline {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 100%; }

.center::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.center > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: normal; }
