@keyframes reload {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.cannon-component {
	position: relative;
	z-index: 1;
	text-align: center;
	background: url(media/images/cannon-bears/background.png) no-repeat center;
    height: 180px;
    background-size: auto 100%;
}
	
	.cannon-component .barrel {
		display: inline-block;
		height: 100%;
		margin-top: 2px;
		overflow: hidden;
	}

	.cannon-component img {
		width: 90px;
		cursor: pointer;
		transform: translateY(100px);
	}

	.cannon-component img.LAUNCHED {
		/**
		 *  Normaly I would define the transition on the default rule but this way
		 *  the animation will not play when the "LAUNCHED" flag is removed.
		 */
		transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
		transform: translateY(-100px) scale(0.3);
	}

	.cannon-component img.RELOAD {
		animation: reload 1s;
	}
