.multiple-choice-component {
	font-size: 1.7em;
}

	.multiple-choice-component ul {
		padding: 0;
		list-style: none;
	}
	
		.multiple-choice-component li {
			position: relative;
			cursor: pointer;
			white-space: nowrap;
		}

		.multiple-choice-component li::before {
			position: absolute;
			right: 100%;
			width: 1em; height: 100%;
			margin-right: 15px;

			background: url(../media/images/button-radio.png) no-repeat center;
			background-size: 100%;
			content: "";
		}

		.multiple-choice-component li.SELECTED::before {
			background-image: url(../media/images/button-radio-selected.png);
		}

		.multiple-choice-component li:hover {
			color: #05a;
		}

		.multiple-choice-component li.SELECTED {
			font-weight: bold;
		}

			.multiple-choice-component li p {
				white-space: normal;
				overflow: hidden;
			}

	.multiple-choice-component.variant-image ul:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}

		.multiple-choice-component.variant-image li {
			width: 50%;
			float: left;
		}

			.multiple-choice-component.variant-image li:before {
				display: none;
			}

			.multiple-choice-component.variant-image li img {
				width: 100%;
			}

			.multiple-choice-component.variant-image li img.hover {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;

				-webkit-transition: opacity .5s;
				transition: opacity .5s;
			}

			.multiple-choice-component.variant-image li.SELECTED img.hover,
			.multiple-choice-component.variant-image li:hover img.hover,
			.DEMO .VOICE-OVER .multiple-choice-component.variant-image li:hover img.hover {
				opacity: 1;
			}

			.VOICE-OVER .multiple-choice-component.variant-image li:hover img.hover {
				opacity: 0;
			}

	.multiple-choice-component.variant-question-image ul {
		margin-top: 0;
	}

		.multiple-choice-component.variant-question-image li img {
			width: auto;
			max-width: 100%;
			max-height: 150px;
		}

		.multiple-choice-component.variant-question-image li img.hover {
			left: 50%;
			transform: translateX(-50%);
		}
