

.screen-quit-component {
  opacity: 0;
  box-shadow: none; }

.QUIT-SCREEN .screen.screen-quit-component.OPEN {
  opacity: 1; }

.QUIT-SCREEN .screen.OPEN {
  opacity: 0; }

.screen-quit-component.LEAVE {
  z-index: 1; }

.screen-quit-component.LEAVE-END {
  z-index: -1; }

.screen-quit-component {
  z-index: 1; }

.screen-quit-component .frame-component .frame .content-group {
  margin: 0; }

.screen-quit-component .frame-component .frame .prev-screen,
.screen-quit-component .frame-component .frame .next-screen {
  display: none; }


.dropzone-component .area {
  width: 300px;
  height: 200px; }

.reveal-component > ul {
  position: relative;
  padding: 0; }

.reveal-component > ul > li {
  list-style: none;
  opacity: 0;
  z-index: -1; }

.reveal-component > ul > li.SELECTED {
  opacity: 1;
  z-index: auto; }

#flush-it .draggables {
  width: 281px;
  height: 486px;
  margin: 0;
  padding: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  background: url(../media/images/frame-tall.png) no-repeat center;
  background-size: contain;
  text-align: center; }
  #flush-it .draggables.DISABLED li {
    opacity: 0.5;
    pointer-events: none;
    cursor: default; }
  #flush-it .draggables.left {
    float: left;
    margin-left: 60px; }
  #flush-it .draggables.right {
    float: right;
    margin-right: 60px; }
  #flush-it .draggables li {
    display: inline-block;
    width: 100px;
    height: 100px; }
    #flush-it .draggables li.TOILET, #flush-it .draggables li.DISABLED {
      opacity: 0;
      pointer-events: none;
      cursor: default; }

#flush-it .draggables li,
#flush-it [pl-id=toilet] li {
  background-image: url(../media/S_6/sprite_6.2.png);
  background-repeat: no-repeat;
  background-size: 250px; }
  #flush-it .draggables li[pl-id=wipes],
  #flush-it [pl-id=toilet] li[pl-id=wipes] {
    width: 90px;
    height: 70px;
    background-position: 0px 0px; }
  #flush-it .draggables li[pl-id=diapers],
  #flush-it [pl-id=toilet] li[pl-id=diapers] {
    width: 80px;
    height: 80px;
    background-position: 0px -500px; }
  #flush-it .draggables li[pl-id=paper],
  #flush-it [pl-id=toilet] li[pl-id=paper] {
    width: 80px;
    height: 100px;
    background-position: 0px -125px; }
  #flush-it .draggables li[pl-id=sheets],
  #flush-it [pl-id=toilet] li[pl-id=sheets] {
    width: 100px;
    height: 70px;
    background-position: 0px -625px; }
  #flush-it .draggables li[pl-id=fats],
  #flush-it [pl-id=toilet] li[pl-id=fats] {
    width: 50px;
    height: 120px;
    background-position: 0px -250px; }
  #flush-it .draggables li[pl-id=cosmetics],
  #flush-it [pl-id=toilet] li[pl-id=cosmetics] {
    width: 80px;
    height: 110px;
    background-position: 0px -750px; }
  #flush-it .draggables li[pl-id=bandages],
  #flush-it [pl-id=toilet] li[pl-id=bandages] {
    width: 100px;
    height: 100px;
    background-position: 0px -375px; }
  #flush-it .draggables li[pl-id=litter],
  #flush-it [pl-id=toilet] li[pl-id=litter] {
    width: 110px;
    height: 100px;
    background-position: -125px 0px; }
  #flush-it .draggables li[pl-id=cotton],
  #flush-it [pl-id=toilet] li[pl-id=cotton] {
    width: 100px;
    height: 100px;
    background-position: -125px -125px; }
  #flush-it .draggables li[pl-id=gum],
  #flush-it [pl-id=toilet] li[pl-id=gum] {
    width: 100px;
    height: 80px;
    background-position: -125px -500px; }
  #flush-it .draggables li[pl-id=floss],
  #flush-it [pl-id=toilet] li[pl-id=floss] {
    width: 90px;
    height: 100px;
    background-position: -125px -250px; }
  #flush-it .draggables li[pl-id=hair],
  #flush-it [pl-id=toilet] li[pl-id=hair] {
    width: 80px;
    height: 110px;
    background-position: -125px -625px; }
  #flush-it .draggables li[pl-id=meds],
  #flush-it [pl-id=toilet] li[pl-id=meds] {
    width: 70px;
    height: 110px;
    background-position: -125px -375px; }
  #flush-it .draggables li[pl-id=chemicals],
  #flush-it [pl-id=toilet] li[pl-id=chemicals] {
    width: 80px;
    height: 110px;
    background-position: -125px -750px; }

#flush-it [pl-id=toilet] {
  overflow: hidden;
  height: 100%;
  background-position: center top; }
  #flush-it [pl-id=toilet] button {
    position: relative;
    display: block;
    margin: 10px auto;
    background-size: 381px;
    width: 190px;
    height: 190px;
    pointer-events: none; }
    #flush-it [pl-id=toilet] button:hover, #flush-it [pl-id=toilet] button:active {
      background-position: -190px top; }
  #flush-it [pl-id=toilet] .area {
    width: 100%;
    height: 250px; }
    #flush-it [pl-id=toilet] .area ul {
      height: 100%;
      margin: 0; }
    #flush-it [pl-id=toilet] .area li {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale(1.75); }
      #flush-it [pl-id=toilet] .area li.FLUSH {
        animation: flush 2.5s ease-in;
        opacity: 0; }
  #flush-it [pl-id=toilet].FLUSH button {
    pointer-events: auto; }

#flush-it [pl-id=modal-reveal] {
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s;
  opacity: 0; }
  #flush-it [pl-id=modal-reveal] .reveal-component {
    width: 500px;
    height: 320px;
    transition: transform 1s;
    transform: scale(0.8); }
    #flush-it [pl-id=modal-reveal] .reveal-component ul {
      position: static; }
    #flush-it [pl-id=modal-reveal] .reveal-component li {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 30px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li img {
        display: block;
        max-width: 80%;
        max-height: 70px;
        margin: 0.8em auto;
        display: none; }
      #flush-it [pl-id=modal-reveal] .reveal-component li h3 {
        margin-top: 0.5em;
        margin-bottom: 0.5em; }
      #flush-it [pl-id=modal-reveal] .reveal-component li > * {
        margin-left: 1em;
        margin-right: 1em;
        text-align: center; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=gum] h3 {
        margin-top: 1.5em; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id]:before {
        content: "";
        background-image: url(../media/S_6/sprite_6.1.png);
        background-repeat: no-repeat;
        background-size: 400px;
        display: block;
        margin: 0.5em auto 0;
        height: 65px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=wipes]:before {
        width: 246px;
        background-position: 0px 0px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=diapers]:before {
        width: 170px;
        background-position: 0px -82px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=paper]:before {
        width: 292px;
        background-position: 0px -170px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=sheets]:before {
        width: 276px;
        background-position: 0px -250px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=fats]:before {
        width: 370px;
        background-position: 0px -330px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=cosmetics]:before {
        width: 218px;
        background-position: 0px -420px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=bandages]:before {
        width: 210px;
        background-position: 0px -504px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=litter]:before {
        width: 216px;
        background-position: 0px -586px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=cotton]:before {
        width: 370px;
        background-position: 0px -672px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=gum]:before {
        width: 120px;
        background-position: 0px -756px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=floss]:before {
        width: 268px;
        background-position: 0px -838px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=hair]:before {
        width: 100px;
        background-position: 0px -918px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=meds]:before {
        width: 358px;
        background-position: 0px -1004px; }
      #flush-it [pl-id=modal-reveal] .reveal-component li[pl-id=chemicals]:before {
        width: 366px;
        background-position: 0px -1084px; }
  #flush-it [pl-id=modal-reveal] button.close {
    right: 0;
    background-position: -570px -60px;
    background-size: 1200px;
    width: 70px;
    height: 50px;
    margin: 40px;
    opacity: 1;
    transition: opacity 1s; }
    #flush-it [pl-id=modal-reveal] button.close:hover, #flush-it [pl-id=modal-reveal] button.close:active {
      background-position: -570px -231px; }
  #flush-it [pl-id=modal-reveal].LAYER {
    z-index: -1; }
  #flush-it [pl-id=modal-reveal].OPEN {
    opacity: 1;
    z-index: auto; }
    #flush-it [pl-id=modal-reveal].OPEN .reveal-component {
      transform: scale(1); }

#flush-it.VOICE-OVER [pl-id=toilet] button {
  pointer-events: none; }

#flush-it.VOICE-OVER [pl-id=modal-reveal] button.close {
  opacity: 0;
  cursor: default;
  transition: none; }

.DEMO #flush-it [pl-id=modal-reveal] button.close {
  opacity: 1;
  cursor: pointer; }

@keyframes flush {
  0% {
    transform: translate3d(-50%, -50%, 0) scale(1.75) rotate(0deg);
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    transform: translate3d(-50%, -50%, 0) scale(0.2) rotate(720deg); } }

@keyframes flushTitle {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1; }
  100% {
    transform: rotate(720deg) scale(0.3);
    opacity: 0; } }

html {
  background-color: #fff; }

img.hidden {
  display: none; }

#twirl-n-swirl {
  background-color: #fff;
  margin: auto;
  perspective: 500px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  background: no-repeat center;
  background-size: cover; }
  #twirl-n-swirl.DEFAULT {
    background-image: url(../media/images/background.png); }
  #twirl-n-swirl.TITLE {
    background-image: url(../media/images/background-title.png); }
  #twirl-n-swirl.PLANT {
    background-image: url(../media/images/background-plant.png); }
  #twirl-n-swirl.QUIT-SCREEN section.OPEN:not(#quit) {
    opacity: 0; }
  #twirl-n-swirl.DEMO section .yes,
  #twirl-n-swirl.DEMO section.VOICE-OVER:not(.COMPLETE) .yes,
  #twirl-n-swirl.DEMO section .next-screen,
  #twirl-n-swirl.DEMO section.VOICE-OVER:not(.COMPLETE) .next-screen {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto; }
  #twirl-n-swirl section {
    opacity: 0;
    transform: rotateY(90deg);
    transform-origin: top left;
    transition: transform 1s, opacity 0.5s; }
    #twirl-n-swirl section.OPEN {
      opacity: 1;
      transform: rotateY(0);
      z-index: 1; }
    #twirl-n-swirl section.LEAVE {
      opacity: 0;
      transform: rotateY(-90deg); }
    #twirl-n-swirl section .next-screen {
      opacity: 0;
      transition: opacity 1s;
      cursor: default;
      background-position: -480px -53px; }
      #twirl-n-swirl section .next-screen:hover, #twirl-n-swirl section .next-screen:active {
        background-position: -480px -260px; }
    #twirl-n-swirl section .prev-screen {
      background-position: -270px -53px; }
      #twirl-n-swirl section .prev-screen:hover, #twirl-n-swirl section .prev-screen:active {
        background-position: -270px -260px; }
    #twirl-n-swirl section.VOICE-OVER:not(.COMPLETE) .yes,
    #twirl-n-swirl section.VOICE-OVER:not(.COMPLETE) .next-screen {
      pointer-events: none; }
    #twirl-n-swirl section.COMPLETE .next-screen {
      opacity: 1;
      cursor: pointer; }
  #twirl-n-swirl button.quit {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background-image: url(../media/images/buttons.png);
    background-position: -910px -58px;
    z-index: 1; }
    #twirl-n-swirl button.quit:hover, #twirl-n-swirl button.quit:active {
      background-position: -910px -266px; }

/* This is just to preload the images used in css. */
#asset-bin {
  display: none; }

#title img[pl-id=logo] {
  position: relative;
  height: 500px;
  animation: fadeInUp 1s;
  animation-play-state: paused;
  z-index: 1; }
  #title img[pl-id=logo].animated {
    animation-play-state: running; }
  #title img[pl-id=logo].rotateOut {
    animation-name: flushTitle;
    animation-duration: 3s;
    animation-iteration-count: 1;
    opacity: 0; }

#title .toilet {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%; }

#title button.play {
  width: 240px;
  height: 208px;
  background-position: left top; }
  #title button.play:hover, #title button.play:active {
    background-position: left bottom; }

.info-toilet .info {
  position: absolute;
  top: 20px;
  right: 80px;
  width: 490px; }

.info-toilet .toilet {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 500px; }

.info-toilet .message {
  height: 320px;
  font-size: 1.5em;
  margin: auto; }
  .info-toilet .message img {
    display: block;
    width: 90%;
    margin: 0.5em auto; }
  .info-toilet .message > * {
    margin-left: 1em;
    margin-right: 1em;
    text-align: center; }

#info-question .info {
  width: 390px; }

#info-question .message {
  height: 250px;
  font-size: 1.4em; }

#info-question .next-screen {
  display: none; }

#info-question button.yes {
  position: relative;
  width: 230px;
  height: 230px;
  display: block;
  margin: auto;
  background-position: 3px 2px;
  background-size: 451px; }
  #info-question button.yes:hover, #info-question button.yes:active {
    background-position: right 2px; }

#plant h2 {
  width: 700px;
  margin: 20px auto;
  text-align: center; }

#flip .message img {
  width: 240px; }

#flip .message img.flip {
  width: 200px; }

#flip .message p {
  margin: 0.5em auto; }

#quit .center .content {
  width: 600px;
  height: 370px;
  text-align: center; }
  #quit .center .content h1, #quit .center .content p {
    text-align: center; }
  #quit .center .content button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 200px; }
  #quit .center .content .yes {
    background-position: -1050px -50px;
    height: 110px; }
    #quit .center .content .yes:hover, #quit .center .content .yes:active {
      background-position: -1050px -258px; }
  #quit .center .content .no {
    background-position: -1290px -40px;
    width: 150px;
    height: 140px; }
    #quit .center .content .no:hover, #quit .center .content .no:active {
      background-position: -1290px -248px; }
  #quit .center .content > * {
    margin-left: 1.5em;
    margin-right: 1.5em; }
  #quit .center .content > :first-child {
    margin-top: 1.5em; }

html, body {
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default; }

/**
 * Any elements with the pl-bg attribute will get these basic background props.
 */
[pl-bg] {
  background: no-repeat center;
  background-size: contain; }

/**
 * Removes gray box when tapping on actionables.
 */
[pl-action] {
  -webkit-tap-highlight-color: transparent; }

/**
 * Center aligns a child element vertically and horzontally.
 */
.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap; }
  .center.inline {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto; }
  .center::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .center > * {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    white-space: normal; }

.pl-game section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.pl-game button {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  background: no-repeat;
  background-size: 1462px;
  /* The image dimensions divided by 2. */ }
  .pl-game button.next-screen {
    right: 0; }
  .pl-game button.prev-screen {
    left: 0; }

.POSITIONED {
  transform-origin: top left; }
  .POSITIONED.absolute {
    position: absolute;
    top: 0;
    left: 0; }

.PLUCKED {
  opacity: 0; }

.draggables [pl-draggable] {
  cursor: -webkit-grab;
  cursor: -ms-grab;
  cursor: -o-grab;
  cursor: grab; }

.draggables .DRAG-START,
.draggables .DRAGGING,
.draggable-helper {
  z-index: 1;
  cursor: -webkit-grabbing;
  cursor: -ms-grabbing;
  cursor: -o-grabbing;
  cursor: grabbing;
  list-style: none; }

.draggable-helper.PLUCKED {
  opacity: 1; }

.draggable-helper.RETURN {
  opacity: 0;
  /* One of the rare times I'll use important. This is to override an inline style. */
  transform: translate3d(0, 0, 0) !important;
  transition: transform 0.5s cubic-bezier(0, 0.18, 0, 1.01), opacity 1s; }

.draggable-helper.RETURN.PLUCKED {
  opacity: 1; }

.draggable-helper.DROPED {
  opacity: 0;
  transition: opacity 1s; }

* {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0; }

ul, ol {
  padding: 0;
  list-style: none; }

button, input[type=button] {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }
