.reveal-component {}
	
	.reveal-component > ul {
		position: relative;
		padding: 0;
	}

		.reveal-component > ul > li {
			list-style: none;
			opacity: 0;
			transition: opacity 0.5s;
		}

		.reveal-component > ul > li.SELECTED {
			opacity: 1;
			z-index: 1;
		}
