@-webkit-keyframes swim {
  100% {
    background-position: -3080px 0; } }

@keyframes swim {
  100% {
    background-position: -3080px 0; } }

.selectable-all-component .bin {
  display: none; }

.selectable-all-component .viewport {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0; }

.selectable-all-component ul {
  text-align: center; }

.selectable-all-component li {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 200px;
  top: 600px;
  margin: 0 40px;
  cursor: pointer; }

.selectable-all-component li div:nth-of-type(1),
.selectable-all-component li div:nth-of-type(2),
.screen.COMPLETE .selectable-all-component li div:nth-of-type(1),
.screen.COMPLETE .selectable-all-component li div:nth-of-type(2) {
  background-size: 3000px;
  background-position: -50px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: swim 1s steps(13) infinite;
          animation: swim 1s steps(13) infinite;
  transition: opacity .5s; }

.selectable-all-component li div:nth-of-type(1),
.screen.COMPLETE .selectable-all-component li div:nth-of-type(1) {
  background-image: url(../media/images/jellyfish/jellyfish.png);
  opacity: 1; }

.selectable-all-component li div:nth-of-type(2),
.screen.COMPLETE .selectable-all-component li div:nth-of-type(2) {
  background-image: url(../media/images/jellyfish/jellyfish-hover.png);
  opacity: 0; }

.selectable-all-component li:hover div:nth-of-type(1),
.selectable-all-component li.HIGHLIGHTED div:nth-of-type(1) {
  opacity: 0; }

.selectable-all-component li:hover div:nth-of-type(2),
.selectable-all-component li.HIGHLIGHTED div:nth-of-type(2) {
  opacity: 1; }

.selectable-all-component li.LAUNCHED {
  top: -200px; }

.selectable-all-component li.a {
  /* Id rather do a transform but this works better with click events. I may want to do my own hit testing. */
  transition: top cubic-bezier(1, 0.1, 1, 1) 5s; }

.selectable-all-component li.b {
  transition: top cubic-bezier(1, 0.1, 1, 1) 6s; }

.selectable-all-component li.c {
  transition: top cubic-bezier(1, 0.1, 1, 1) 7s; }

.selectable-all-component li.d {
  transition: top cubic-bezier(1, 0.1, 1, 1) 4s; }

.selectable-all-component li.e {
  transition: top cubic-bezier(1, 0.1, 1, 1) 3s; }

.selectable-all-component li.f {
  transition: top cubic-bezier(1, 0.1, 1, 1) 2s; }

@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%); }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%); } }

@keyframes bob {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%); }
  50% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%); } }

.selectable-remove-component {
  height: 100%;
  width: 100%; }

.selectable-remove-component .center {
  cursor: none;
  overflow: hidden; }

.screen.COMPLETE .selectable-remove-component .center {
  cursor: auto; }

.selectable-remove-component .turtle {
  position: absolute;
  left: 0;
  top: 10%;
  width: 355px;
  height: 595px;
  background-size: 1110px; }

section.COMPLETE .selectable-remove-component .turtle {
  background-position: -370px 0; }

.selectable-remove-component .net {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: opacity .5s;
  pointer-events: none;
  z-index: 1;
  width: 355px;
  height: 595px;
  background-size: 1110px;
  background-position: -740px 0; }

.screen:not(.OPEN) .selectable-remove-component .net,
.screen.COMPLETE .selectable-remove-component .net {
  opacity: 0; }

.selectable-remove-component .items {
  width: 100%;
  height: 100%; }

.selectable-remove-component .items li {
  position: absolute;
  list-style: none;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-animation: bob 8s infinite;
  animation: bob 8s infinite; }

.selectable-remove-component .items li img {
  position: relative;
  max-width: 150px;
  transition: opacity .5s; }

.selectable-remove-component .items li .hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; }

.selectable-remove-component .items li:hover div.hover {
  opacity: 1; }

.selectable-remove-component .items li.HIGHLIGHTED div,
.selectable-remove-component .items li.HIGHLIGHTED:hover div,
.screen.COMPLETE .selectable-remove-component .items li div.hover {
  opacity: 0; }

.selectable-remove-component .items li {
  position: absolute;
  list-style: none; }
  .selectable-remove-component .items li div {
    background-image: url(../media/images/trash/sprite_6.2.png);
    background-size: 325px; }
  .selectable-remove-component .items li.bag {
    left: 1%;
    top: -1%; }
    .selectable-remove-component .items li.bag div {
      width: 150px;
      height: 150px;
      background-position: 0px -984px; }
      .selectable-remove-component .items li.bag div.hover {
        background-position: -162px -984px; }
  .selectable-remove-component .items li.milk {
    left: 17%;
    top: 2%; }
    .selectable-remove-component .items li.milk div {
      width: 100px;
      height: 120px;
      background-position: 0px -1138px; }
      .selectable-remove-component .items li.milk div.hover {
        background-position: -162px -1138px; }
  .selectable-remove-component .items li.milk2 {
    left: 24%;
    top: 69%; }
    .selectable-remove-component .items li.milk2 div {
      width: 100px;
      height: 120px;
      background-position: 0px -1138px; }
      .selectable-remove-component .items li.milk2 div.hover {
        background-position: -162px -1138px; }
  .selectable-remove-component .items li.shrimp {
    left: 40%;
    top: 25%; }
    .selectable-remove-component .items li.shrimp div {
      width: 120px;
      height: 75px;
      background-position: 0px 0px; }
      .selectable-remove-component .items li.shrimp div.hover {
        background-position: -162px 0px; }
  .selectable-remove-component .items li.shrimp2 {
    left: 70%;
    top: 78%; }
    .selectable-remove-component .items li.shrimp2 div {
      width: 120px;
      height: 75px;
      background-position: 0px 0px; }
      .selectable-remove-component .items li.shrimp2 div.hover {
        background-position: -162px 0px; }
  .selectable-remove-component .items li.seaweed {
    left: 60%;
    top: 34%; }
    .selectable-remove-component .items li.seaweed div {
      width: 100px;
      height: 100px;
      background-position: 0px -164px; }
      .selectable-remove-component .items li.seaweed div.hover {
        background-position: -162px -164px; }
  .selectable-remove-component .items li.bottle {
    left: 16%;
    top: 53%; }
    .selectable-remove-component .items li.bottle div {
      width: 110px;
      height: 110px;
      background-position: 0px -1466px; }
      .selectable-remove-component .items li.bottle div.hover {
        background-position: -162px -1466px; }
  .selectable-remove-component .items li.paper {
    left: 60%;
    top: 14%; }
    .selectable-remove-component .items li.paper div {
      width: 70px;
      height: 75px;
      background-position: 0px -2272px; }
      .selectable-remove-component .items li.paper div.hover {
        background-position: -162px -2272px; }
  .selectable-remove-component .items li.paper2 {
    left: 10%;
    top: 76%; }
    .selectable-remove-component .items li.paper2 div {
      width: 70px;
      height: 75px;
      background-position: 0px -2272px; }
      .selectable-remove-component .items li.paper2 div.hover {
        background-position: -162px -2272px; }
  .selectable-remove-component .items li.jar {
    left: 48%;
    top: -2%; }
    .selectable-remove-component .items li.jar div {
      width: 85px;
      height: 85px;
      background-position: 0px -810px; }
      .selectable-remove-component .items li.jar div.hover {
        background-position: -162px -810px; }
  .selectable-remove-component .items li.lobster {
    left: 62%;
    top: 1%; }
    .selectable-remove-component .items li.lobster div {
      width: 150px;
      height: 80px;
      background-position: 0px -328px; }
      .selectable-remove-component .items li.lobster div.hover {
        background-position: -162px -328px; }
  .selectable-remove-component .items li.glassbottle {
    left: 29%;
    top: 20%; }
    .selectable-remove-component .items li.glassbottle div {
      width: 110px;
      height: 120px;
      background-position: 0px -2430px; }
      .selectable-remove-component .items li.glassbottle div.hover {
        background-position: -162px -2430px; }
  .selectable-remove-component .items li.soda {
    left: 79%;
    top: 3%; }
    .selectable-remove-component .items li.soda div {
      width: 80px;
      height: 90px;
      background-position: 0px -2112px; }
      .selectable-remove-component .items li.soda div.hover {
        background-position: -162px -2112px; }
  .selectable-remove-component .items li.soda2 {
    left: 33%;
    top: 48%; }
    .selectable-remove-component .items li.soda2 div {
      width: 80px;
      height: 90px;
      background-position: 0px -2112px; }
      .selectable-remove-component .items li.soda2 div.hover {
        background-position: -162px -2112px; }
  .selectable-remove-component .items li.shell {
    left: 47%;
    top: 42%; }
    .selectable-remove-component .items li.shell div {
      width: 120px;
      height: 110px;
      background-position: 0px -1297px; }
      .selectable-remove-component .items li.shell div.hover {
        background-position: -162px -1297px; }
  .selectable-remove-component .items li.spike {
    left: 78%;
    top: 55%; }
    .selectable-remove-component .items li.spike div {
      width: 85px;
      height: 70px;
      background-position: 0px -492px; }
      .selectable-remove-component .items li.spike div.hover {
        background-position: -162px -492px; }
  .selectable-remove-component .items li.box {
    left: 77%;
    top: 29%; }
    .selectable-remove-component .items li.box div {
      width: 130px;
      height: 150px;
      background-position: 0px -1620px; }
      .selectable-remove-component .items li.box div.hover {
        background-position: -162px -1620px; }
  .selectable-remove-component .items li.box2 {
    left: 39%;
    top: 71%; }
    .selectable-remove-component .items li.box2 div {
      width: 130px;
      height: 150px;
      background-position: 0px -1620px; }
      .selectable-remove-component .items li.box2 div.hover {
        background-position: -162px -1620px; }
  .selectable-remove-component .items li.shell2 {
    left: 34%;
    top: -3%; }
    .selectable-remove-component .items li.shell2 div {
      width: 120px;
      height: 110px;
      background-position: 0px -1297px; }
      .selectable-remove-component .items li.shell2 div.hover {
        background-position: -162px -1297px; }
  .selectable-remove-component .items li.can {
    left: 54%;
    top: 70%; }
    .selectable-remove-component .items li.can div {
      width: 120px;
      height: 110px;
      background-position: 0px -1794px; }
      .selectable-remove-component .items li.can div.hover {
        background-position: -162px -1794px; }
  .selectable-remove-component .items li.canholder {
    left: 60%;
    top: 55%; }
    .selectable-remove-component .items li.canholder div {
      width: 120px;
      height: 90px;
      background-position: 0px -1958px; }
      .selectable-remove-component .items li.canholder div.hover {
        background-position: -162px -1958px; }


.animation-component {
  background-color: black; }

.animation-component img[pl-id=source] {
  display: none; }

.carousel-component {
  position: relative;
  white-space: nowrap; }

.carousel-component img {
  width: 100%;
  max-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  box-sizing: border-box; }

/* == Cross-fade Style ============ */
.carousel-component.cross-fade img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s; }

.carousel-component.cross-fade img.OPEN {
  opacity: 1; }

/* == Slide Style ============ */
.carousel-component.slide img {
  position: relative;
  display: inline-block;
  margin-left: 0;
  transition: margin 1s; }

.carousel-component.slide img.LEAVE {
  margin-left: -100%; }

@-webkit-keyframes reload {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes reload {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.cannon-component img.LAUNCHED {
  /* 
		*  Normaly I would define the transition on the default rule but this way
		*  the animation will not play when the "LAUNCHED" flag is removed.
		*/
  transition: -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px); }

.cannon-component img.RELOAD {
  -webkit-animation: reload 1s;
          animation: reload 1s; }

.dropzone-component {
  position: relative; }

.dropzone-component .area {
  width: 300px;
  height: 200px; }

.flip-card-component > ul {
  text-align: center; }

.flip-card-component > ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 250px;
  margin-left: 10px;
  -webkit-perspective: 500px;
          perspective: 500px; }

.flip-card-component > ul li .side {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  max-height: 100%;
  background-color: #0af;
  color: #eee;
  border-radius: 8px;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden; }

.flip-card-component > ul li .side img {
  max-width: 100%;
  max-height: 100%; }

/* Left to Right (Default) */
.flip-card-component > ul li .side.b,
.flip-card-component.lr > ul li .side.b,
.flip-card-component > ul li.lr .side.b {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg); }

.flip-card-component > ul li:hover .side.a,
.flip-card-component.lr > ul li:hover .side.a,
.flip-card-component > ul li.lr:hover .side.a {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.flip-card-component > ul li:hover .side.b,
.flip-card-component.lr > ul li:hover .side.b,
.flip-card-component > ul li.lr:hover .side.b {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg); }

/* Right to Left */
.flip-card-component.rl > ul li .side.b,
.flip-card-component > ul li.rl .side.b {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.flip-card-component.rl > ul li:hover .side.a,
.flip-card-component > ul li.rl:hover .side.a {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg); }

.flip-card-component.rl > ul li:hover .side.b,
.flip-card-component > ul li.rl:hover .side.b {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg); }

/* Top to Bottom */
.flip-card-component.tb > ul li .side.b,
.flip-card-component > ul li.tb .side.b {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

.flip-card-component.tb > ul li:hover .side.a,
.flip-card-component > ul li.tb:hover .side.a {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }

.flip-card-component.tb > ul li:hover .side.b,
.flip-card-component > ul li.tb:hover .side.b {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg); }

/* Bottom to Top */
.flip-card-component.bt > ul li .side.b,
.flip-card-component > ul li.bt .side.b {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg); }

.flip-card-component.bt > ul li:hover .side.a,
.flip-card-component > ul li.bt:hover .side.a {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg); }

.flip-card-component.bt > ul li:hover .side.b,
.flip-card-component > ul li.bt:hover .side.b {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg); }

.frame-component .frame {
  position: relative;
  width: 70%;
  max-width: 977px; }

.frame-component .frame img.background {
  display: block;
  width: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); }

.frame-component .frame .content-group {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 12px; }

.frame-component .frame .content-group > * {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center; }

.multiple-choice-component ul {
  padding-left: 20px; }

.multiple-choice-component li {
  list-style: circle;
  cursor: pointer; }

.multiple-choice-component li.SELECTED {
  list-style: disc;
  font-weight: bold; }

.multiple-choice-component li button {
  float: left; }


.reveal-component > ul {
  position: relative;
  padding: 0; }

.reveal-component > ul > li {
  list-style: none;
  opacity: 0;
  transition: opacity 0.5s; }

.reveal-component > ul > li.SELECTED {
  opacity: 1;
  z-index: 1; }


.screen-basic-component button.close {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  width: 40px;
  height: 50px;
  float: right;
  border: none;
  font-size: 2em;
  background: url(../media/images/buttons/quit.png) center center no-repeat;
  background-size: 100%;
  color: transparent;
  z-index: 1; }

.screen-basic-component button.close:hover {
  background-image: url(../media/images/buttons/quit-hover.png); }

.screen-basic-component button.close:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9); }

.screen-quit-component {
  opacity: 0;
  box-shadow: none; }

.QUIT-SCREEN .screen.screen-quit-component.OPEN {
  opacity: 1; }

.QUIT-SCREEN .screen.OPEN {
  opacity: 0; }

.screen-quit-component.LEAVE {
  z-index: 1; }

.screen-quit-component.LEAVE-END {
  z-index: -1; }

.screen-quit-component button {
  margin-right: 10px; }

.screen-quit-component {
  z-index: 1; }

.screen-quit-component .frame-component .frame .content-group {
  margin: 0; }

.screen-quit-component .frame-component .frame .prev-screen,
.screen-quit-component .frame-component .frame .next-screen {
  display: none; }

.screen-quit-component h2 {
  font-size: 40px;
  margin-top: 40px; }

.screen-quit-component h3 {
  margin: 40px 0 140px; }

.screen-quit-component button {
  position: absolute;
  bottom: -20px; }

.screen-quit-component button.yes {
  left: 0;
  width: 40%; }

.screen-quit-component button.no {
  left: 60%;
  width: 40%; }

.screen-quit-component button img {
  width: 100%; }

.screen-quit-component button img.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s; }

.screen-quit-component button:hover img.hover {
  opacity: 1; }

.selectable-component .items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  height: 250px;
  list-style: none; }

.selectable-component .items li {
  position: relative;
  width: 200px; }

.selectable-component .items li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0, 0.18, 0, 1.01);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0, 0.18, 0, 1.01);
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0, 0.18, 0, 1.01), -webkit-transform 0.5s cubic-bezier(0, 0.18, 0, 1.01); }

.selectable-component.VOICE-OVER .items li img,
.VOICE-OVER .selectable-component .items li img {
  /* disables the :hover rules when a VO is playing. */
  pointer-events: none; }

.selectable-component .items li img.checked:hover,
.selectable-component .items li img.unchecked:hover {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px); }

.selectable-component .items li img.checked {
  opacity: 1; }

.selectable-component .items li.HIGHLIGHTED img.checked {
  opacity: 0;
  z-index: -1;
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.selectable-component .items li.HIGHLIGHTED img.unchecked {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0); }



@-webkit-keyframes bubbleUp {
  0% {
    bottom: -10%;
    -webkit-transform: scale(0.3) translateX(0%);
            transform: scale(0.3) translateX(0%);
    opacity: 0; }
  1% {
    bottom: 0%;
    -webkit-transform: scale(0.3) translateX(0%);
            transform: scale(0.3) translateX(0%);
    opacity: 0; }
  18% {
    bottom: 18%;
    -webkit-transform: scale(0.4) translateX(150%);
            transform: scale(0.4) translateX(150%);
    opacity: 1; }
  22% {
    bottom: 22%;
    -webkit-transform: scale(0.4) translateX(150%);
            transform: scale(0.4) translateX(150%);
    opacity: 1; }
  48% {
    bottom: 48%;
    -webkit-transform: scale(0.6) translateX(-75%);
            transform: scale(0.6) translateX(-75%);
    opacity: 1; }
  52% {
    bottom: 52%;
    -webkit-transform: scale(0.6) translateX(-75%);
            transform: scale(0.6) translateX(-75%);
    opacity: 1; }
  68% {
    bottom: 68%;
    -webkit-transform: scale(0.8) translateX(50%);
            transform: scale(0.8) translateX(50%);
    opacity: 1; }
  72% {
    bottom: 72%;
    -webkit-transform: scale(0.8) translateX(50%);
            transform: scale(0.8) translateX(50%);
    opacity: 1; }
  95% {
    bottom: 95%;
    -webkit-transform: scale(1) translateX(-150%);
            transform: scale(1) translateX(-150%);
    opacity: 0; }
  99% {
    bottom: 100%;
    -webkit-transform: scale(1) translateX(-150%);
            transform: scale(1) translateX(-150%);
    opacity: 0; }
  100% {
    bottom: -10%;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: 0; } }



@keyframes bubbleUp {
  0% {
    bottom: -10%;
    -webkit-transform: scale(0.3) translateX(0%);
            transform: scale(0.3) translateX(0%);
    opacity: 0; }
  1% {
    bottom: 0%;
    -webkit-transform: scale(0.3) translateX(0%);
            transform: scale(0.3) translateX(0%);
    opacity: 0; }
  18% {
    bottom: 18%;
    -webkit-transform: scale(0.4) translateX(150%);
            transform: scale(0.4) translateX(150%);
    opacity: 1; }
  22% {
    bottom: 22%;
    -webkit-transform: scale(0.4) translateX(150%);
            transform: scale(0.4) translateX(150%);
    opacity: 1; }
  48% {
    bottom: 48%;
    -webkit-transform: scale(0.6) translateX(-75%);
            transform: scale(0.6) translateX(-75%);
    opacity: 1; }
  52% {
    bottom: 52%;
    -webkit-transform: scale(0.6) translateX(-75%);
            transform: scale(0.6) translateX(-75%);
    opacity: 1; }
  68% {
    bottom: 68%;
    -webkit-transform: scale(0.8) translateX(50%);
            transform: scale(0.8) translateX(50%);
    opacity: 1; }
  72% {
    bottom: 72%;
    -webkit-transform: scale(0.8) translateX(50%);
            transform: scale(0.8) translateX(50%);
    opacity: 1; }
  95% {
    bottom: 95%;
    -webkit-transform: scale(1) translateX(-150%);
            transform: scale(1) translateX(-150%);
    opacity: 0; }
  99% {
    bottom: 100%;
    -webkit-transform: scale(1) translateX(-150%);
            transform: scale(1) translateX(-150%);
    opacity: 0; }
  100% {
    bottom: -10%;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    opacity: 0; } }

#title > .next-screen,
#title > .prev-screen {
  display: none; }

.title-component button.play {
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 120px;
  height: 75px;
  background-image: url(../media/images/buttons/play.png);
  background-size: 100%;
  -webkit-transform: none;
          transform: none; }

.title-component button.play:hover {
  background-image: url(../media/images/buttons/play.png); }

.title-component img.background {
  min-width: 100%;
  min-height: 100%; }

.title-component .center > .content-group {
  text-align: center;
  height: 90%; }

.title-component .center img {
  position: relative;
  width: 70%;
  opacity: 0;
  transition: opacity 0.5s;
  top: 30%; }

.title-component .center img.animated {
  opacity: 1; }

.title-component .bubbles {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.title-component .bubbles div {
  position: absolute;
  bottom: -10%;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px #4bbec8;
  background: -moz-radial-gradient(center 45deg, circle closest-corner, rgba(75, 190, 200, 0), rgba(75, 190, 200, 0.1), rgba(75, 190, 200, 0.3), rgba(255, 255, 255, 0.7));
  background: -webkit-gradient(radial, center center, 0, center center, 100, from(rgba(75, 190, 200, 0.2)), to(rgba(255, 255, 255, 0.7)));
  background: gradient(center 45deg, circle closest-corner, rgba(75, 190, 200, 0), rgba(75, 190, 200, 0.1), rgba(75, 190, 200, 0.3), rgba(255, 255, 255, 0.7));
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(9, 133, 167, 0.1) 51%, rgba(9, 133, 167, 0.3) 71%, rgba(9, 133, 167, 0.7) 100%);
  animation: bubbleUp 8s infinite linear;
  -webkit-animation: bubbleUp 8s infinite linear;
  -o-animation: bubbleUp 8s infinite linear;
  -moz-animation: bubbleUp 8s infinite linear; }

.title-component .bubbles div:nth-of-type(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  left: 10%; }

.title-component .bubbles div:nth-of-type(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  left: 50%;
  z-index: -1; }

.title-component .bubbles div:nth-of-type(3) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  left: 75%;
  z-index: -1; }

.title-component .bubbles div:nth-of-type(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  left: 30%; }

.title-component .bubbles div:nth-of-type(5) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  left: 60%;
  z-index: -1; }

.title-component .bubbles div:nth-of-type(6) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  left: 90%; }

.title-component .bubbles div:nth-of-type(7) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  left: 20%;
  z-index: -1; }

.title-component .bubbles div:nth-of-type(8) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  left: 45%; }

.title-component .bubbles div:nth-of-type(9) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  left: 68%;
  z-index: -1; }

.title-component .bubbles div:nth-of-type(10) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  left: 40%;
  z-index: -1; }

.title-component .bubbles div:nth-of-type(11) {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  left: 77%; }

.title-component .bubbles div:nth-of-type(12) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  left: 86%;
  z-index: -1; }

.title-component .bubbles div:nth-of-type(13) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  left: 35%;
  z-index: -1; }

.title-component .bubbles div:nth-of-type(14) {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
  left: 65%; }

@-webkit-keyframes fadeOutRelayer {
  0% {
    z-index: 1;
    opacity: 1; }
  99% {
    z-index: 1;
    opacity: 0; }
  100% {
    z-index: auto; } }

@keyframes fadeOutRelayer {
  0% {
    z-index: 1;
    opacity: 1; }
  99% {
    z-index: 1;
    opacity: 0; }
  100% {
    z-index: auto; } }

@-webkit-keyframes fadeInRelayer {
  0% {
    z-index: 1;
    opacity: 0; }
  100% {
    z-index: 1;
    opacity: 1; } }

@keyframes fadeInRelayer {
  0% {
    z-index: 1;
    opacity: 0; }
  100% {
    z-index: 1;
    opacity: 1; } }

@-webkit-keyframes anchor {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes anchor {
  0% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes lifesaver {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes lifesaver {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes crab {
  0% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px); }
  50% {
    -webkit-transform: translatex(-40px);
            transform: translatex(-40px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes crab {
  0% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px); }
  50% {
    -webkit-transform: translatex(-40px);
            transform: translatex(-40px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

#globe > .center {
  bottom: 100px; }

#globe [pl-id=characters] {
  position: absolute;
  bottom: 0;
  width: 100%; }
  #globe [pl-id=characters].DISABLED .draggables [pl-draggable] {
    cursor: default; }
  #globe [pl-id=characters] .background {
    display: block;
    width: 100%; }
  #globe [pl-id=characters] ul {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none; }
    #globe [pl-id=characters] ul li {
      position: relative;
      display: inline-block;
      width: 75px;
      height: 70px;
      margin-top: 15px; }
      #globe [pl-id=characters] ul li .state {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s;
        background-repeat: no-repeat;
        background-size: 300px;
        background-image: url("../media/images/globe/sprite_4.2.png"); }
        #globe [pl-id=characters] ul li .state.active, #globe [pl-id=characters] ul li .state.inactive {
          opacity: 0; }
      #globe [pl-id=characters] ul li.ACTIVE .state, #globe [pl-id=characters] ul li.DISABLED .state {
        opacity: 0; }
      #globe [pl-id=characters] ul li.ACTIVE .state.active {
        opacity: 1;
        z-index: 1; }
      #globe [pl-id=characters] ul li.DISABLED .state.inactive {
        opacity: 1;
        z-index: 1; }
      #globe [pl-id=characters] ul li:nth-of-type(1) div:nth-of-type(1) {
        background-position: -204px 5px; }
      #globe [pl-id=characters] ul li:nth-of-type(1) div:nth-of-type(2) {
        background-position: -104px 5px; }
      #globe [pl-id=characters] ul li:nth-of-type(1) div:nth-of-type(3) {
        background-position: -4px 5px; }
      #globe [pl-id=characters] ul li:nth-of-type(2) div:nth-of-type(1) {
        background-position: -204px -80px; }
      #globe [pl-id=characters] ul li:nth-of-type(2) div:nth-of-type(2) {
        background-position: -104px -80px; }
      #globe [pl-id=characters] ul li:nth-of-type(2) div:nth-of-type(3) {
        background-position: -4px -80px; }
      #globe [pl-id=characters] ul li:nth-of-type(3) div:nth-of-type(1) {
        background-position: -204px -155px; }
      #globe [pl-id=characters] ul li:nth-of-type(3) div:nth-of-type(2) {
        background-position: -104px -155px; }
      #globe [pl-id=characters] ul li:nth-of-type(3) div:nth-of-type(3) {
        background-position: -4px -155px; }
      #globe [pl-id=characters] ul li:nth-of-type(4) div:nth-of-type(1) {
        background-position: -204px -235px; }
      #globe [pl-id=characters] ul li:nth-of-type(4) div:nth-of-type(2) {
        background-position: -104px -235px; }
      #globe [pl-id=characters] ul li:nth-of-type(4) div:nth-of-type(3) {
        background-position: -4px -235px; }
      #globe [pl-id=characters] ul li:nth-of-type(5) div:nth-of-type(1) {
        background-position: -204px -320px; }
      #globe [pl-id=characters] ul li:nth-of-type(5) div:nth-of-type(2) {
        background-position: -104px -320px; }
      #globe [pl-id=characters] ul li:nth-of-type(5) div:nth-of-type(3) {
        background-position: -4px -320px; }
      #globe [pl-id=characters] ul li:nth-of-type(6) div:nth-of-type(1) {
        background-position: -204px -390px; }
      #globe [pl-id=characters] ul li:nth-of-type(6) div:nth-of-type(2) {
        background-position: -104px -390px; }
      #globe [pl-id=characters] ul li:nth-of-type(6) div:nth-of-type(3) {
        background-position: -4px -390px; }
      #globe [pl-id=characters] ul li:nth-of-type(7) {
        width: 80px; }
        #globe [pl-id=characters] ul li:nth-of-type(7) div:nth-of-type(1) {
          background-position: -204px -480px; }
        #globe [pl-id=characters] ul li:nth-of-type(7) div:nth-of-type(2) {
          background-position: -104px -480px; }
        #globe [pl-id=characters] ul li:nth-of-type(7) div:nth-of-type(3) {
          background-position: -4px -480px; }
      #globe [pl-id=characters] ul li:nth-of-type(8) {
        width: 65px; }
        #globe [pl-id=characters] ul li:nth-of-type(8) div:nth-of-type(1) {
          background-position: -204px -560px; }
        #globe [pl-id=characters] ul li:nth-of-type(8) div:nth-of-type(2) {
          background-position: -104px -560px; }
        #globe [pl-id=characters] ul li:nth-of-type(8) div:nth-of-type(3) {
          background-position: -4px -560px; }
      #globe [pl-id=characters] ul li:nth-of-type(9) {
        width: 65px; }
        #globe [pl-id=characters] ul li:nth-of-type(9) div:nth-of-type(1) {
          background-position: -204px -635px; }
        #globe [pl-id=characters] ul li:nth-of-type(9) div:nth-of-type(2) {
          background-position: -104px -635px; }
        #globe [pl-id=characters] ul li:nth-of-type(9) div:nth-of-type(3) {
          background-position: -4px -635px; }
      #globe [pl-id=characters] ul li:nth-of-type(10) {
        width: 85px; }
        #globe [pl-id=characters] ul li:nth-of-type(10) div:nth-of-type(1) {
          background-position: -204px -715px; }
        #globe [pl-id=characters] ul li:nth-of-type(10) div:nth-of-type(2) {
          background-position: -104px -715px; }
        #globe [pl-id=characters] ul li:nth-of-type(10) div:nth-of-type(3) {
          background-position: -4px -715px; }

#globe .dropzone-component {
  float: left;
  background-repeat: no-repeat;
  background-position: -440px -450px;
  background-size: 900px;
  width: 400px;
  height: 430px; }
  #globe .dropzone-component .area {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 340px;
    height: 340px; }
    #globe .dropzone-component .area div {
      opacity: 0;
      transition: opacity .5s;
      width: 18%;
      position: absolute;
      background-image: url("../media/images/globe/sprite_4.3.png");
      background-size: auto 150px; }
      #globe .dropzone-component .area div.show {
        opacity: 1; }
        #globe .dropzone-component .area div.show:nth-of-type(1), #globe .dropzone-component .area div.show:nth-of-type(4), #globe .dropzone-component .area div.show:nth-of-type(7), #globe .dropzone-component .area div.show:nth-of-type(9), #globe .dropzone-component .area div.show:nth-of-type(10) {
          -webkit-transform: translateY(-10%);
                  transform: translateY(-10%);
          -webkit-animation: bob 4s infinite;
                  animation: bob 4s infinite; }
        #globe .dropzone-component .area div.show:nth-of-type(2), #globe .dropzone-component .area div.show:nth-of-type(3), #globe .dropzone-component .area div.show:nth-of-type(5) {
          -webkit-animation: anchor 4s forwards;
                  animation: anchor 4s forwards; }
        #globe .dropzone-component .area div.show:nth-of-type(6) {
          -webkit-animation: crab 4s infinite;
                  animation: crab 4s infinite; }
        #globe .dropzone-component .area div.show:nth-of-type(8) {
          -webkit-animation: lifesaver 4s forwards;
                  animation: lifesaver 4s forwards; }
      #globe .dropzone-component .area div:nth-of-type(1) {
        left: 240px;
        top: 90px;
        width: 62px;
        height: 48px;
        background-position: 5px 5px; }
      #globe .dropzone-component .area div:nth-of-type(2) {
        left: 66px;
        top: 270px;
        width: 62px;
        height: 44px;
        background-position: -70px 5px; }
      #globe .dropzone-component .area div:nth-of-type(3) {
        left: 140px;
        top: 280px;
        width: 62px;
        height: 60px;
        background-position: -145px 5px; }
      #globe .dropzone-component .area div:nth-of-type(4) {
        left: 80px;
        top: 190px;
        width: 62px;
        height: 50px;
        background-position: -220px 5px; }
      #globe .dropzone-component .area div:nth-of-type(5) {
        left: 240px;
        top: 250px;
        width: 62px;
        height: 62px;
        background-position: -295px 5px; }
      #globe .dropzone-component .area div:nth-of-type(6) {
        left: 210px;
        top: 186px;
        width: 62px;
        height: 36px;
        background-position: 5px 80px; }
      #globe .dropzone-component .area div:nth-of-type(7) {
        left: 140px;
        top: 120px;
        width: 62px;
        height: 44px;
        background-position: -70px 80px; }
      #globe .dropzone-component .area div:nth-of-type(8) {
        left: 136px;
        top: 20px;
        width: 62px;
        height: 62px;
        background-position: -145px 80px; }
      #globe .dropzone-component .area div:nth-of-type(9) {
        left: 30px;
        top: 130px;
        width: 62px;
        height: 44px;
        background-position: -220px 80px; }
      #globe .dropzone-component .area div:nth-of-type(10) {
        left: 56px;
        top: 70px;
        width: 72px;
        height: 42px;
        background-position: -295px 80px; }

#globe .frame {
  position: relative;
  overflow: hidden;
  margin: 15px auto;
  float: left; }
  #globe .frame .background {
    display: block;
    height: 400px; }
  #globe .frame .reveal-component .items {
    position: static;
    margin: 0; }
    #globe .frame .reveal-component .items > li {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px;
      font-size: 1.1em; }
      #globe .frame .reveal-component .items > li > h3 {
        text-align: center;
        font-size: 1.3em; }
      #globe .frame .reveal-component .items > li > * {
        margin-left: 1em;
        margin-right: 1em; }
      #globe .frame .reveal-component .items > li[pl-id=well-done] .group div {
        width: 430px;
        height: 120px;
        background-size: 990px;
        background-position: 0 495px; }
      #globe .frame .reveal-component .items > li[pl-id=well-done] h3 {
        text-align: center; }
  #globe .frame .response {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 400px;
    opacity: 0;
    -webkit-animation: fadeOutRelayer 1s;
            animation: fadeOutRelayer 1s;
    background-size: 220%; }
    #globe .frame .response.SELECTED {
      opacity: 1;
      z-index: 1;
      -webkit-animation: fadeInRelayer 1s;
              animation: fadeInRelayer 1s; }
  #globe .frame .multiple-choice-component ul {
    padding-left: 20px; }
  #globe .frame .multiple-choice-component li {
    position: relative;
    list-style: none; }
    #globe .frame .multiple-choice-component li.SELECTED {
      background-image: url(../media/images/globe/sprite_4.4.png);
      background-size: auto 40px;
      background-size: 1320px 100%;
      background-position: -880px 4px;
      font-weight: normal; }
    #globe .frame .multiple-choice-component li > * {
      padding: 10px;
      padding-left: 30px;
      margin: 10px 0; }
  #globe .frame .multiple-choice-component li::before {
    position: absolute;
    left: -30px;
    width: 60px;
    height: 100%;
    content: "";
    background-repeat: no-repeat;
    background-image: url(../media/images/globe/sprite_4.4.png);
    background-size: auto 40px;
    background-size: 900px;
    background-position: -300px -5px; }
  #globe .frame .multiple-choice-component li.SELECTED::before {
    background-position: 0px -5px; }
  #globe .frame [pl-id=well-done] img {
    width: 100%; }

#globe.VOICE-OVER .draggables li {
  pointer-events: none; }

.DEMO #globe.VOICE-OVER .draggables li {
  pointer-events: auto; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; }

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  background: url(../media/images/background.png) bottom center no-repeat;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  cursor: default; }

body {
  position: relative;
  width: 960px;
  margin: auto; }

[pl-action] {
  -webkit-tap-highlight-color: transparent; }

#asset-bin {
  display: none; }

button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

[pl-action] {
  -webkit-tap-highlight-color: transparent; }

img.hidden {
  display: none; }

.spinner {
  position: relative;
  width: 60%;
  height: 60%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px; }

.spinner > .spinner {
  position: absolute;
  top: 20%;
  left: 20%; }

#loader {
  transition: opacity 0.5s;
  opacity: 0;
  color: #fff; }

#loader.OPEN {
  opacity: 1; }

#loader .group > .spinner {
  width: 80px;
  height: 80px;
  margin: auto;
  -webkit-animation: pulse 0.5s infinite;
          animation: pulse 0.5s infinite; }

.POSITIONED {
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.POSITIONED.absolute {
  position: absolute;
  top: 0;
  left: 0; }

.PLUCKED {
  opacity: 0; }

.draggables [pl-draggable] {
  cursor: -webkit-grab;
  cursor: grab; }

.draggables .DRAG-START,
.draggables .DRAGGING,
.draggable-helper {
  z-index: 1;
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.draggable-helper.PLUCKED {
  opacity: 1; }

.draggable-helper.RETURN {
  opacity: 0;
  /* One of the rare times I'll use important. This is to override an inline style. */
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
  transition: opacity 1s, -webkit-transform 0.5s cubic-bezier(0, 0.18, 0, 1.01);
  transition: transform 0.5s cubic-bezier(0, 0.18, 0, 1.01), opacity 1s;
  transition: transform 0.5s cubic-bezier(0, 0.18, 0, 1.01), opacity 1s, -webkit-transform 0.5s cubic-bezier(0, 0.18, 0, 1.01); }

.draggable-helper.RETURN.PLUCKED {
  opacity: 1; }

.draggable-helper.DROPED {
  opacity: 0;
  transition: opacity 1s; }

.canvas-src {
  display: none; }

.screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: none;
  transition: opacity 1s, -webkit-transform 0.5s;
  transition: opacity 1s, transform 0.5s;
  transition: opacity 1s, transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%); }

.screen.READY {
  display: block; }

.screen.OPEN {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.screen.LEAVE {
  opacity: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%); }

.screen .next-screen,
.screen .prev-screen {
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: 1%;
  z-index: 2; }

.screen .next-screen {
  margin-top: 5px;
  margin-right: 5px;
  right: 4%;
  background-image: url(../media/images/buttons/next.png);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  transition: opacity 1s; }

.screen.GATED .next-screen {
  opacity: 0;
  cursor: default; }

.screen.COMPLETE .next-screen,
.DEMO .screen .next-screen {
  opacity: 1;
  cursor: pointer; }

.screen .next-screen:hover {
  background-image: url(../media/images/buttons/next-hover.png); }

.screen .prev-screen {
  margin-top: 5px;
  margin-left: 10px;
  left: 4%;
  background-image: url(../media/images/buttons/prev.png);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.screen .prev-screen:hover {
  background-image: url(../media/images/buttons/prev-hover.png); }

.screen.no-frame {
  overflow: hidden; }

.screen.no-frame .frame {
  width: 70%;
  height: 100%;
  text-align: center; }

.screen.no-frame .frame img.background {
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.screen.no-frame .frame .center > div {
  text-align: center; }

.screen.no-frame.jelly .frame img.background {
  -webkit-transform: translateX(-48%);
          transform: translateX(-48%); }

.screen.no-frame.jelly .frame .content-group div {
  margin-top: 50%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%); }

.screen.no-frame.jelly .frame .content-group img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 100%; }

.screen.no-frame.jelly .frame h2 {
  margin: 6% 0 6%; }

#video .frame {
  width: 760px;
  height: 540px; }

.video-component {
  position: absolute;
  background-image: url(../media/images/video-frame.png);
  background-size: 100% 100%;
  top: 40px;
  width: 760px; }
  .video-component video {
    position: relative;
    width: 95%;
    max-height: 95%;
    margin: 2.2% 2.5% 1.4%; }

img.flip {
  margin-top: -20px; }

section.OPEN .flip {
  -webkit-animation: zoomIn 1.5s;
  animation: zoomIn 1.5s; }

#jellyfish {
  overflow: hidden;
  display: block; }
  #jellyfish .reveal-component ul {
    position: static; }
    #jellyfish .reveal-component ul li {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
      #jellyfish .reveal-component ul li div {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 400px;
        height: 133px;
        -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        background: url("../media/images/jellyfish/reveal.png") no-repeat center center;
        background-size: 400px;
        padding: 40px 10px;
        box-sizing: border-box;
        text-align: center;
        font-size: 30px; }
      #jellyfish .reveal-component ul li .close {
        position: absolute;
        right: 10px;
        top: 0;
        width: 30px;
        margin: 0;
        opacity: 0;
        cursor: default;
        transition: opacity 0.5s; }
  #jellyfish.OPEN .reveal-component ul li.SELECTED {
    z-index: 1; }
    #jellyfish.OPEN .reveal-component ul li.SELECTED:before {
      content: "";
      position: fixed;
      left: -1000%;
      top: -1000%;
      width: 3000%;
      height: 3000%;
      z-index: -1; }
  #jellyfish .reveal-component:not(.VOICE-OVER) button.close {
    opacity: 1;
    cursor: pointer; }

.DEMO #jellyfish .reveal-component button.close {
  opacity: 1;
  cursor: pointer; }

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap; }

.center.inline {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 100%; }

.center::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.center > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: normal; }
