# 1 year for all static assets
<filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|bmp|css|swf|js|woff)$">
Header set Cache-Control "max-age=31556926, public"
</filesMatch>

# 4 hours for dynamic assets
<filesMatch ".(html|htm|php)$">
Header set Cache-Control "max-age=14400, must-revalidate"
</filesMatch>

<FilesMatch "\.(ttf|ttc|otf|eot|woff)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>
</FilesMatch>
