<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=6057800, public"
</FilesMatch>


<FilesMatch "\.(ttf|ttc|otf|eot|woff)$">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>
