@keyframes flicker {
  0% {opacity:1;}
  10% {opacity:1;}
  12% {opacity:0;}
  14% {opacity:1;}
  16% {opacity:0;}
  18% {opacity:1;}
  44% {opacity:1;}
  46% {opacity:0;}
  48% {opacity:1;}
  50% {opacity:0;}
  52% {opacity:1;}
  82% {opacity:1;}
  84% {opacity:0;}
  86% {opacity:1;}
  88% {opacity:0;}
  90% {opacity:1;}
  100% {opacity:1;}
}
@keyframes stamp {
  0% {
  	opacity: 0;
    transform: scale(4);
  }
  10% {
  	opacity: 1;
  }
  60% {
    transform: scale(1);
  }
  65% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1.1);
  }
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

html {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}

body {
	position: relative;
	width: 960px;
	margin: auto;
	font-size: 36px;
	color: #fff;
	background: url(../media/_BKG/BKG_1.png) bottom center no-repeat;
	background-size: cover;
}

button {
	margin: 0;
	padding: 0;
	border: none;

	font-family: inherit;
	font-size: inherit;
	color: transparent;
	background-color: transparent;
	outline: none;
	cursor: pointer;

	background-image: url(../media/_Buttons/BU_1.png);
	background-size: auto 500px;
	background-position: left top;

	&.close {
		width: 35px;
		height: 35px;
		background-position: -310px 410px;
		position: absolute;
		right: 0;
		top: 0;
		margin: 5px;
		z-index: 2;

		&:hover {
			background-position: -310px 165px;
		}
	}

	&.next-screen,
	&.prev-screen {
		width: 80px;
		height: 60px;
	}

	&.next-screen {
		background-position: -120px 420px;

		&:hover {
			background-position: -120px 676px;
		}
	}

	&.prev-screen {
		background-position: -15px 420px;

		&:hover {
			background-position: -15px 676px;
		}
	}

	&.close-reveal {
		width: 55px;
		height: 50px;
		background-position: -225px 420px;

		&.ENABLED:hover {
			background-position: -225px 676px;
		}
	}

	&.quit-yes {
		width: 230px;
		height: 230px;
		background-position: -1830px 495px;

		&:hover {
			background-position: -1830px 251px;
		}
	}

	&.quit-no {
		width: 230px;
		height: 230px;
		background-position: -2080px 495px;

		&:hover {
			background-position: -2080px 251px;
		}
	}
}

body.DEMO .reveal-component .items li div .close-reveal {
	opacity: 1;
	cursor: pointer;

	&:hover {
		background-position: -225px 676px;
	}
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
	margin: 0;
}

p {
	font-size: 28px;
	margin: 0;
}

// preload game assets
#asset-bin {
	display: none;
}

.spinner {
	position: relative;
	width: 60%; height: 60%;
	background: rgba(0,0,0,0.5);
	border-radius: 50px;

}

.spinner > .spinner {
	position: absolute;
	top: 20%; left: 20%;
}

.spinner > .spinner > .spinner {

}

#loader {
	transition: opacity 0.5s;
	opacity: 0;
}

#loader.OPEN {
	opacity: 1;
}

#loader .group > .spinner {
	width: 80px; height: 80px;
	margin: auto;
	animation: pulse 0.5s infinite;
}

.canvas-src { display: none; }

.screen {
	position: absolute;
	top: 50%;
	left: 0;
	width: 960px;
	height: 540px;
	margin-top: -270px;
	opacity: 0;
	display: none;
	transition: opacity 1s, transform 0.5s;
	transform: translateX(100%);
}

.screen.last {}

.screen.OPEN {
	opacity: 1;
	transform: translateX(0);
}

.screen.READY {
	display: block;
}

.screen.LEAVE {
	opacity: 1;
	transform: translateX(-100%);
}

	.screen .next-screen,
	.screen .prev-screen {
		position: absolute;
		display: block;
		bottom: 1%;

		z-index: 2;
	}

	.screen .next-screen {
		margin-right: 5px;
		right: 0;
		opacity: 0;
		transform: rotate(-180deg);
		transition: opacity 1s, transform 1s;
	}

	.screen.GATED .next-screen {
		opacity: 0;
		cursor: default;
		z-index: -1;
	}

	.pl-game.DEMO .screen .next-screen,
	.screen.COMPLETE .next-screen {
		opacity: 1;
		transform: rotate(0deg);
		cursor: pointer;
		z-index: 1;
	}

	.screen .next-screen:hover {
		
	}

	.screen .prev-screen {
		margin-left: 5px;
		left: 0;
		
	}
	
	.screen .prev-screen:hover {
		
	}

// the following css is specific to this game

.reveal-component {
	position: static;

	.items {
		position: static;

		li {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: -1;
			transition: opacity .5s, z-index 0s .6s;

			div {
				position: absolute;
				left: 0;
				top: 50%;
				width: 100%;
				height: 240px;
				margin-top: -120px;
				background-image: url(../media/_Frames/FR_1.png);
				background-size: 100% 100%;

				span {
					position: absolute;
					display: block;
					top: 50%;
					transform: translateY(-50%);
					width: 100%;
					text-align: center;
					color: #000;
				}

				.close-reveal {
					position: absolute;
					right: 5px;
					bottom: 10px;
					opacity: 0.5;
					cursor: default;
					transition: opacity 1s;

					&.ENABLED {
						opacity: 1;
						cursor: pointer;
					}
				}
			}

			&.OPEN {
				opacity: 1;
				z-index: 1;
				transition: opacity .5s;
			}
		}
	}
}

.video-component {
	background: url(../media/_Frames/FR_2.png) center center no-repeat;
	background-size: 100% 100%;

	video {
		margin: 15px 15px 34px;
	}
}

#title {
	img {
		position: absolute;

		&.bulb {
			width: 400px;
			left: 280px;
			top: 20px;
		}

		&.presents {
			width: 200px;
			left: 140px;
			top: 210px;
		}

		&.title {
			width: 700px;
			left: 130px;
			top: 300px;
		}
	}

	.prev-screen {
		display: none;
	}

	&.READY {
		img {
			opacity: 1;

			&.bulb {
				-webkit-animation-name: bounceInUp;
				animation-name: bounceInUp;
			}

			&.presents {
				-webkit-animation-name: bounceInLeft;
				animation-name: bounceInLeft;
				-webkit-animation-delay: 1s;
				animation-delay: 1s;
			}

			&.title {
				-webkit-animation-name: bounceInUp;
				animation-name: bounceInUp;
				-webkit-animation-delay: 2s;
				animation-delay: 2s;
			}
		}

		&.COMPLETE {
			img {
				-webkit-animation-name: flicker;
				-webkit-animation-duration: 2s;
				-webkit-animation-delay: 0s;
				-webkit-animation-iteration-count: 3;
				animation-name: flicker;
				animation-duration: 2s;
				animation-delay: 0s;
				animation-iteration-count: 3;
			}
		}
	}
}

.screen.why {
	img.title {
		display: block;
		width: 800px;
		margin: 30px auto 0;
	}

	.selectable-reveal-component {
		margin-top: -30px;

		.selectable-component {

			.items {
				height: 300px;
				width: 800px;
				margin: 20px auto;
				opacity: 0;
				transition: opacity 1s 1s;

				li {
					background-position: 0 0;
					background-size: auto 100%;
					cursor: default;
					opacity: 0.5;
					transition: opacity 1s;

					&:first-of-type:not(.HIGHLIGHTED) {
						opacity: 1;
						cursor: pointer;

						&:hover {
							-webkit-animation-name: bounce;
							animation-name: bounce;
						}
					}

					&.HIGHLIGHTED {
						opacity: 1;
						background-position: 204px 0;
					}

					&.HIGHLIGHTED + li:not(.HIGHLIGHTED) {
						opacity: 1;
						cursor: pointer;

						&:hover {
							-webkit-animation-name: bounce;
							animation-name: bounce;
						}
					}

					&:nth-of-type(1) {
						background-image: url(../media/S_3/img_3.2.png);
					}

					&:nth-of-type(2) {
						background-image: url(../media/S_3/img_3.3.png);
					}

					&:nth-of-type(3) {
						background-image: url(../media/S_3/img_3.4.png);
					}

					&:nth-of-type(4) {
						background-image: url(../media/S_3/img_3.5.png);
					}
				}
			}
		}
	}

	&.OPEN {
		img.title {
			-webkit-animation-name: zoomInDown;
			animation-name: zoomInDown;
		}

		.selectable-reveal-component {

			.selectable-component {

				.items {
					opacity: 1;
				}
			}
		}
	}
}

.screen.pig {
	img {
		display: block;
		width: 640px;
		margin: 40px auto 0;
	}

	.multiple-choice-component {
		ul {
			list-style: none;
			padding: 0;
			margin: -20px auto 0;
			display: block;
			width: 730px;

			li {
				display: inline-block;
				height: 380px;
				cursor: default;
				background-repeat: no-repeat;

				&.pig {
					width: 500px;
					background-image: url(../media/S_4/img_4.2.png);
					background-size: auto 100%;
				}

				&.bulb {
					width: 230px;
					background-image: url(../media/S_4/img_4.3.png);
					background-size: auto 100%;
				}
			}
		}
	}

	&.OPEN {
		img {
			-webkit-animation-name: zoomInDown;
			animation-name: zoomInDown;
		}

		.pig {
			-webkit-animation-name: shake;
			-webkit-animation-duration: 3s;
			animation-name: shake;
			animation-duration: 3s;
		}

		.bulb {
			-webkit-animation-name: bounce;
			-webkit-animation-duration: 3s;
			animation-name: bounce;
			animation-duration: 3s;
		}
	}

	&:not(.COMPLETE) {
		.multiple-choice-component li {
			cursor: pointer;

			&.pig {
				&:hover {
					background-position: -497px 0;
				}
				
				&.SELECTED {
					background-position: -993px 0;
				}
			}

			&.bulb {
				&:hover {
					background-position: -246px 0;
				}

				&.SELECTED {
					background-position: 0 0;
				}
			}
		}
	}

	&.COMPLETE .multiple-choice-component li.pig {
		transition: opacity 1s;
		opacity: 0.5;
	}
}

.screen.what {
	img.title {
		display: block;
		width: 800px;
		margin: 30px auto 0;
	}

	.selectable-reveal-component {
		margin-top: -30px;

		.selectable-component {

			.items {
				position: relative;
				height: 300px;
				width: 800px;
				margin: 20px auto;
				opacity: 0;
				transition: opacity 1s 1s;

				li {
					background-position: 0 0;
					background-size: auto 100%;
					cursor: default;
					position: absolute;
					width: 200px;
					height: 200px;
					top: 0;
					opacity: 0.5;
					transition: opacity 1s;

					&:first-of-type:not(.HIGHLIGHTED) {
						opacity: 1;
						cursor: pointer;

						&:hover {
							-webkit-animation-name: bounce;
							animation-name: bounce;
						}
					}

					&.HIGHLIGHTED {
						opacity: 1;
						background-position: -194px 0;
					}

					&.HIGHLIGHTED + li:not(.HIGHLIGHTED) {
						opacity: 1;
						cursor: pointer;

						&:hover {
							-webkit-animation-name: bounce;
							animation-name: bounce;
						}
					}

					&:nth-of-type(1) {
						background-image: url(../media/S_5/img_5.2.png);
						left: 0;
					}

					&:nth-of-type(2) {
						background-image: url(../media/S_5/img_5.3.png);
						left: 150px;
						top: 200px;
					}

					&:nth-of-type(3) {
						background-image: url(../media/S_5/img_5.4.png);
						left: 300px;
					}

					&:nth-of-type(4) {
						background-image: url(../media/S_5/img_5.5.png);
						left: 450px;
						top: 200px;
					}

					&:nth-of-type(5) {
						background-image: url(../media/S_5/img_5.6.png);
						left: 600px;
					}
				}
			}
		}
	}

	&.OPEN {
		img.title {
			-webkit-animation-name: zoomInDown;
			animation-name: zoomInDown;
		}

		.selectable-reveal-component {

			.selectable-component {

				.items {
					opacity: 1;
				}
			}
		}
	}
}

.screen.lets-learn {
	img {
		position: absolute;
		top: 140px;
		left: 130px;
		width: 700px;
		margin: 0;
	}

	&.OPEN {
		img {
			-webkit-animation-name: zoomInDown;
			animation-name: zoomInDown;
		}
	}
}

.screen.flip {
	h2 {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		margin: -80px 0 0;
		text-align: center;
		color: #fff;
		font-weight: normal;

		.inline {
			position: relative;
			height: 100px;
			vertical-align: middle;
			margin-top: -60px;
			top: 50px;
		}
	}

	.stamp {
		position: relative;
		width: 800px;
		display: block;
		margin: 0 auto;
		z-index: 1;
		opacity: 0;
	}

	&.OPEN {
		.inline {
			-webkit-animation-name: flipInX;
			-webkit-animation-duration: 3s;
			animation-name: flipInX;
			animation-duration: 3s;
		}

		.stamp.START {
			opacity: 1;
			-webkit-animation-name: stamp;
			-webkit-animation-duration: 1s;
			/*-webkit-animation-delay: 0.5s;*/
			animation-name: stamp;
			animation-duration: 1s;
			/*animation-delay: 0.5s;*/
		}
	}
}

#quit {

	.frame {
		text-align: center;

		h2 {
			margin: 0;
		}

		button {
			margin: 20px 10px;
		}
	}
}
