@-webkit-keyframes splash {
  0% {
    -webkit-transform: translate(100px, -300px);
            transform: translate(100px, -300px); }
  25% {
    -webkit-transform: translate(-70px, 0px);
            transform: translate(-70px, 0px); }
  50% {
    -webkit-transform: translate(300px, 410px);
            transform: translate(300px, 410px); }
  75% {
    -webkit-transform: translate(500px, 100px);
            transform: translate(500px, 100px); }
  100% {
    -webkit-transform: translate(500px, 100px);
            transform: translate(500px, 100px); } }

@keyframes splash {
  0% {
    -webkit-transform: translate(100px, -300px);
            transform: translate(100px, -300px); }
  25% {
    -webkit-transform: translate(-70px, 0px);
            transform: translate(-70px, 0px); }
  50% {
    -webkit-transform: translate(300px, 410px);
            transform: translate(300px, 410px); }
  75% {
    -webkit-transform: translate(500px, 100px);
            transform: translate(500px, 100px); }
  100% {
    -webkit-transform: translate(500px, 100px);
            transform: translate(500px, 100px); } }

@-webkit-keyframes splash-bg {
  0% {
    background-position: 70px 70px; }
  50% {
    background-position: -195px 50px; }
  75% {
    background-position: -750px 0; }
  100% {
    background-position: -1000px 0; } }

@keyframes splash-bg {
  0% {
    background-position: 70px 70px; }
  50% {
    background-position: -195px 50px; }
  75% {
    background-position: -750px 0; }
  100% {
    background-position: -1000px 0; } }

body.iOS:not(.STARTED) {
  background: #ffffff !important; }

#ios-splash {
  background-color: #fff;
  z-index: 1; }
  #ios-splash img.hidden {
    display: none; }
  #ios-splash.OPEN {
    -webkit-transform: none;
            transform: none;
    opacity: 1; }
  #ios-splash button {
    display: none; }
  #ios-splash [pl-id=ball] {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translate(100px, -300px);
            transform: translate(100px, -300px); }
    #ios-splash [pl-id=ball]:before {
      content: "";
      display: block;
      width: 200px;
      height: 190px;
      background-image: url(../images/ios_start_ball.png);
      background-repeat: no-repeat;
      background-size: 1250px;
      background-position: 70px 70px; }
  #ios-splash.OPEN [pl-id=ball] {
    -webkit-animation: splash 6s forwards linear;
            animation: splash 6s forwards linear; }
    #ios-splash.OPEN [pl-id=ball]:before {
      -webkit-animation: splash-bg 6s steps(1) forwards;
              animation: splash-bg 6s steps(1) forwards; }

.pl-game.STARTED #ios-splash [pl-id=ball]:before {
  background-image: url(../images/ios_start_ball_anim.gif);
  background-size: contain;
  background-position: center center;
  -webkit-animation: none;
          animation: none; }

#loader {
  transition: opacity 0.5s;
  opacity: 0; }
  #loader .group > .spinner {
    width: 80px;
    height: 80px;
    margin: auto;
    -webkit-animation: pulse 0.5s infinite;
            animation: pulse 0.5s infinite; }
  #loader .spinner {
    position: relative;
    width: 60%;
    height: 60%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px; }
    #loader .spinner > .spinner {
      position: absolute;
      top: 20%;
      left: 20%; }
  #loader.OPEN {
    opacity: 1; }

.pl-game.PAUSED:before {
  content: "";
  position: absolute;
  background-color: rgba(84, 194, 242, 0.7);
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.pl-game.PAUSED:after {
  content: "PAUSED";
  position: absolute;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 72px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2; }
