/*
 * general common scss for all games should be added to this file
 * later we should refactor to bring in more common scss
 */
html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-tap-highlight-color: transparent; }

img.hidden {
  display: none; }

@keyframes splash {
  0% {
    transform: translate(100px, -300px); }
  25% {
    transform: translate(-70px, 0px); }
  50% {
    transform: translate(300px, 410px); }
  75% {
    transform: translate(500px, 100px); }
  100% {
    transform: translate(500px, 100px); } }

@keyframes splash-bg {
  0% {
    background-position: 70px 70px; }
  50% {
    background-position: -195px 50px; }
  75% {
    background-position: -750px 0; }
  100% {
    background-position: -1000px 0; } }

body.iOS:not(.STARTED) {
  background: #ffffff !important; }

#ios-splash {
  background-color: #fff;
  z-index: 1; }
  #ios-splash img.hidden {
    display: none; }
  #ios-splash.OPEN {
    transform: none;
    opacity: 1; }
  #ios-splash button {
    display: none; }
  #ios-splash .ball,
  #ios-splash [pl-id=ball] {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(100px, -300px); }
    #ios-splash .ball:before,
    #ios-splash [pl-id=ball]:before {
      content: "";
      display: block;
      width: 200px;
      height: 190px;
      background-image: url(../images/ios_start_ball.png);
      background-repeat: no-repeat;
      background-size: 1250px;
      background-position: 70px 70px; }
  #ios-splash.OPEN .ball,
  #ios-splash.OPEN [pl-id=ball] {
    animation: splash 6s forwards linear; }
    #ios-splash.OPEN .ball:before,
    #ios-splash.OPEN [pl-id=ball]:before {
      animation: splash-bg 6s steps(1) forwards; }

#ios-splash.LEAVING .ball:before,
#ios-splash.LEAVING [pl-id=ball]:before,
.pl-game.STARTED #ios-splash .ball:before,
.pl-game.STARTED #ios-splash [pl-id=ball]:before {
  background-image: url(../images/ios_start_ball_anim.gif);
  background-size: contain;
  background-position: center center;
  animation: none; }

.SCREEN-0 #ios-splash button {
  background: none;
  margin: 0;
  width: 200px;
  height: 190px; }

.SCREEN-0 #ios-splash button.next-screen,
.SCREEN-0 #ios-splash .ball,
.SCREEN-0 #ios-splash [pl-id=ball] {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 200px;
  height: 190px;
  margin: 0;
  transform: translate(100px, -300px); }
  .SCREEN-0 #ios-splash button.next-screen:before,
  .SCREEN-0 #ios-splash .ball:before,
  .SCREEN-0 #ios-splash [pl-id=ball]:before {
    content: "";
    display: block;
    width: 200px;
    height: 190px;
    background-image: url(../images/ios_start_ball.png);
    background-repeat: no-repeat;
    background-size: 1250px;
    background-position: 70px 70px; }

.SCREEN-0 #ios-splash.OPEN button.next-screen,
.SCREEN-0 #ios-splash.OPEN .ball,
.SCREEN-0 #ios-splash.OPEN [pl-id=ball] {
  animation: splash 6s forwards linear; }
  .SCREEN-0 #ios-splash.OPEN button.next-screen:before,
  .SCREEN-0 #ios-splash.OPEN .ball:before,
  .SCREEN-0 #ios-splash.OPEN [pl-id=ball]:before {
    animation: splash-bg 6s steps(1) forwards; }

.SCREEN-0 #ios-splash.LEAVING button.next-screen:before,
.SCREEN-0 #ios-splash.LEAVING .ball:before,
.SCREEN-0 #ios-splash.LEAVING [pl-id=ball]:before,
.pl-game.STARTED #ios-splash button.next-screen:before,
.pl-game.STARTED #ios-splash .ball:before,
.pl-game.STARTED #ios-splash [pl-id=ball]:before {
  background-image: url(../images/ios_start_ball_anim.gif);
  background-size: contain;
  background-position: center center;
  animation: none; }

#loader {
  transition: opacity 0.5s;
  opacity: 0;
  z-index: -1; }
  #loader .group > .spinner {
    width: 80px;
    height: 80px;
    margin: auto;
    animation: pulse 0.5s infinite; }
  #loader .spinner {
    position: relative;
    width: 60%;
    height: 60%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px; }
    #loader .spinner > .spinner {
      position: absolute;
      top: 20%;
      left: 20%; }
  #loader.OPEN {
    opacity: 1; }

.LOADING #loader {
  opacity: 1;
  z-index: 1; }

@font-face {
  font-family: 'CMWN';
  src: url("../fonts/CMWN_Jade.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/CMWN_Jade.eot?#iefix") format("embedded-opentype"), url("../fonts/CMWN_Jade.woff") format("woff"), url("../fonts/CMWN_Jade.ttf") format("truetype"), url("../fonts/CMWN_Jade.svg#4012903f3d164196860fdbc893b3e032") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@keyframes pause-pulse {
  0% {
    transform: translate(-50%, -50%) scale3d(1, 1, 1); }
  50% {
    transform: translate(-50%, -50%) scale3d(1.2, 1.2, 1); }
  100% {
    transform: translate(-50%, -50%) scale3d(1, 1, 1); } }

.pl-game.PAUSED:not(.DEMO):before {
  content: "";
  position: absolute;
  background-color: rgba(84, 194, 242, 0.7);
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.pl-game.PAUSED:not(.DEMO):after {
  content: "PAUSED...";
  position: absolute;
  font-family: "CMWN", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  color: #ffffff;
  font-size: 72px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  z-index: 2;
  animation: pause-pulse 3s infinite; }
