
.multiple-choice-component ul {
  padding-left: 20px; }

.multiple-choice-component li {
  list-style: circle;
  cursor: pointer; }

.multiple-choice-component li:hover {
  color: #05a; }

.multiple-choice-component li.SELECTED {
  list-style: disc;
  font-weight: bold; }

.multiple-choice-component li button {
  float: left; }

.reveal-component ul {
  position: relative;
  padding: 0; }

.reveal-component li {
  list-style: none;
  opacity: 0;
  transition: opacity 0.5s; }

.reveal-component li.OPEN {
  opacity: 1; }

.screen-basic-component > *:nth-child(2) {
  margin-top: 45px; }

.screen-basic-component button.close {
  position: relative;
  float: right;
  border: none;
  font-size: 2em;
  z-index: 1; }

.screen-basic-component button.close:active {
  transform: scale(0.8); }

.selectable-component .items {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  height: 250px;
  list-style: none; }

.selectable-component .items li {
  position: relative;
  width: 200px; }

.selectable-component .items li img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s cubic-bezier(0, 0.18, 0, 1.01); }

.selectable-component.VOICE-OVER .items li img,
.VOICE-OVER .selectable-component .items li img {
  /* disables the :hover rules when a VO is playing. */
  pointer-events: none; }

.selectable-component .items li img.checked:hover,
.selectable-component .items li img.unchecked:hover {
  transform: translateY(-40px); }

.selectable-component .items li img.checked {
  opacity: 1; }

.selectable-component .items li.HIGHLIGHTED img.checked {
  opacity: 0;
  z-index: -1;
  transform: translateY(0); }

.selectable-component .items li.HIGHLIGHTED img.unchecked {
  opacity: 1;
  transform: translateY(0); }

.screen-quit-component {
  opacity: 0;
  box-shadow: none; }

.screen-quit-component.OPEN {
  opacity: 1; }

.screen-quit-component.LEAVE {
  z-index: 1; }

.screen-quit-component.LEAVE-END {
  z-index: -1; }

.screen-quit-component .center {
  width: 100%;
  height: 100%; }

.screen-quit-component button {
  margin-right: 10px; }

.QUIT-SCREEN .screen.screen-quit-component.OPEN {
  opacity: 1; }

.QUIT-SCREEN .screen.OPEN {
  opacity: 0; }


.title-component img.background {
  min-width: 100%;
  min-height: 100%; }

.title-component .center img {
  width: 70%;
  opacity: 0;
  transition: opacity 0.5s; }

.title-component .center img.animated {
  opacity: 1; }

@keyframes flicker {
  0% {
    opacity: 1; }
  10% {
    opacity: 1; }
  12% {
    opacity: 0; }
  14% {
    opacity: 1; }
  16% {
    opacity: 0; }
  18% {
    opacity: 1; }
  44% {
    opacity: 1; }
  46% {
    opacity: 0; }
  48% {
    opacity: 1; }
  50% {
    opacity: 0; }
  52% {
    opacity: 1; }
  82% {
    opacity: 1; }
  84% {
    opacity: 0; }
  86% {
    opacity: 1; }
  88% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes stamp {
  0% {
    opacity: 0;
    transform: scale(4); }
  10% {
    opacity: 1; }
  60% {
    transform: scale(1); }
  65% {
    transform: scale(1.1); }
  75% {
    transform: scale(1.1); }
  80% {
    transform: scale(1.1); } }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  user-drag: none;
  cursor: default; }

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif; }

body {
  position: relative;
  width: 960px;
  margin: auto;
  font-size: 36px;
  color: #fff;
  background: url(../media/_BKG/BKG_1.png) bottom center no-repeat;
  background-size: cover; }

button {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: transparent;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  background-image: url(../media/_Buttons/BU_1.png);
  background-size: auto 500px;
  background-position: left top; }
  button.close {
    width: 35px;
    height: 35px;
    background-position: -310px 410px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px;
    z-index: 2; }
    button.close:hover {
      background-position: -310px 165px; }
  button.next-screen, button.prev-screen {
    width: 80px;
    height: 60px; }
  button.next-screen {
    background-position: -120px 420px; }
    button.next-screen:hover {
      background-position: -120px 676px; }
  button.prev-screen {
    background-position: -15px 420px; }
    button.prev-screen:hover {
      background-position: -15px 676px; }
  button.close-reveal {
    width: 55px;
    height: 50px;
    background-position: -225px 420px; }
    button.close-reveal.ENABLED:hover {
      background-position: -225px 676px; }
  button.quit-yes {
    width: 230px;
    height: 230px;
    background-position: -1830px 495px; }
    button.quit-yes:hover {
      background-position: -1830px 251px; }
  button.quit-no {
    width: 230px;
    height: 230px;
    background-position: -2080px 495px; }
    button.quit-no:hover {
      background-position: -2080px 251px; }

body.DEMO .reveal-component .items li div .close-reveal {
  opacity: 1;
  cursor: pointer; }
  body.DEMO .reveal-component .items li div .close-reveal:hover {
    background-position: -225px 676px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px;
  margin: 0; }

p {
  font-size: 28px;
  margin: 0; }

#asset-bin {
  display: none; }

.canvas-src {
  display: none; }

.screen {
  position: absolute;
  top: 50%;
  left: 0;
  width: 960px;
  height: 540px;
  margin-top: -270px;
  opacity: 0;
  display: none;
  transition: opacity 1s, transform 0.5s;
  transform: translateX(100%); }

.screen.OPEN {
  opacity: 1;
  transform: translateX(0); }

.screen.READY {
  display: block; }

.screen.LEAVE {
  opacity: 1;
  transform: translateX(-100%); }

.screen .next-screen,
.screen .prev-screen {
  position: absolute;
  display: block;
  bottom: 1%;
  z-index: 2; }

.screen .next-screen {
  margin-right: 5px;
  right: 0;
  opacity: 0;
  transform: rotate(-180deg);
  transition: opacity 1s, transform 1s; }

.screen.GATED .next-screen {
  opacity: 0;
  cursor: default;
  z-index: -1; }

.pl-game.DEMO .screen .next-screen,
.screen.COMPLETE .next-screen {
  opacity: 1;
  transform: rotate(0deg);
  cursor: pointer;
  z-index: 1; }

.screen .prev-screen {
  margin-left: 5px;
  left: 0; }

.reveal-component {
  position: static; }
  .reveal-component .items {
    position: static; }
    .reveal-component .items li {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: -1;
      transition: opacity .5s, z-index 0s .6s; }
      .reveal-component .items li div {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 240px;
        margin-top: -120px;
        background-image: url(../media/_Frames/FR_1.png);
        background-size: 100% 100%; }
        .reveal-component .items li div span {
          position: absolute;
          display: block;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          text-align: center;
          color: #000; }
        .reveal-component .items li div .close-reveal {
          position: absolute;
          right: 5px;
          bottom: 10px;
          opacity: 1;
          cursor: default;
          transition: opacity 1s; }
      .reveal-component .items li.OPEN {
        opacity: 1;
        z-index: 1;
        transition: opacity .5s; }

.screen.VOICE-OVER .reveal-component .items li div .close-reveal {
  opacity: .5;
  pointer-events: none; }

.video-component {
  background: url(../media/_Frames/FR_2.png) center center no-repeat;
  background-size: 100% 100%; }
  .video-component video {
    margin: 15px 15px 34px; }

#title img {
  position: absolute; }
  #title img.bulb {
    width: 400px;
    left: 280px;
    top: 20px; }
  #title img.presents {
    width: 200px;
    left: 140px;
    top: 210px; }
  #title img.title {
    width: 700px;
    left: 130px;
    top: 300px; }

#title .prev-screen {
  display: none; }

#title.READY img {
  opacity: 1; }
  #title.READY img.bulb {
    animation-name: bounceInUp; }
  #title.READY img.presents {
    animation-name: bounceInLeft;
    animation-delay: 1s; }
  #title.READY img.title {
    animation-name: bounceInUp;
    animation-delay: 2s; }

#title.READY.COMPLETE img {
  animation-name: flicker;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: 3; }

.screen.why img.title {
  display: block;
  width: 800px;
  margin: 30px auto 0; }

.screen.why .selectable-reveal-component {
  margin-top: -30px; }
  .screen.why .selectable-reveal-component .selectable-component .items {
    height: 300px;
    width: 800px;
    margin: 20px auto;
    opacity: 0;
    transition: opacity 1s 1s; }
    .screen.why .selectable-reveal-component .selectable-component .items li {
      cursor: default;
      opacity: 0.5;
      transition: opacity 1s;
      background-image: url(../media/S_3/img_3.2.png);
      background-size: 450px;
      background-repeat: no-repeat;
      pointer-events: none; }
      .screen.why .selectable-reveal-component .selectable-component .items li:first-of-type:not(.HIGHLIGHTED) {
        opacity: 1;
        cursor: pointer;
        pointer-events: auto; }
        .screen.why .selectable-reveal-component .selectable-component .items li:first-of-type:not(.HIGHLIGHTED):hover {
          animation-name: bounce; }
      .screen.why .selectable-reveal-component .selectable-component .items li.HIGHLIGHTED {
        opacity: 1; }
      .screen.why .selectable-reveal-component .selectable-component .items li.HIGHLIGHTED + li:not(.HIGHLIGHTED) {
        opacity: 1;
        cursor: pointer;
        pointer-events: auto; }
        .screen.why .selectable-reveal-component .selectable-component .items li.HIGHLIGHTED + li:not(.HIGHLIGHTED):hover {
          animation-name: bounce; }
      .screen.why .selectable-reveal-component .selectable-component .items li:nth-of-type(1) {
        background-position: -12px -15px; }
        .screen.why .selectable-reveal-component .selectable-component .items li:nth-of-type(1).HIGHLIGHTED, .screen.why .selectable-reveal-component .selectable-component .items li:nth-of-type(1):hover {
          background-position: -237px -15px; }
      .screen.why .selectable-reveal-component .selectable-component .items li:nth-of-type(2) {
        background-position: -12px -340px; }
        .screen.why .selectable-reveal-component .selectable-component .items li:nth-of-type(2).HIGHLIGHTED, .screen.why .selectable-reveal-component .selectable-component .items li:nth-of-type(2):hover {
          background-position: -237px -340px; }
      .screen.why .selectable-reveal-component .selectable-component .items li:nth-of-type(3) {
        background-position: -12px -665px; }
        .screen.why .selectable-reveal-component .selectable-component .items li:nth-of-type(3).HIGHLIGHTED, .screen.why .selectable-reveal-component .selectable-component .items li:nth-of-type(3):hover {
          background-position: -237px -665px; }
      .screen.why .selectable-reveal-component .selectable-component .items li:nth-of-type(4) {
        background-position: -12px -990px; }
        .screen.why .selectable-reveal-component .selectable-component .items li:nth-of-type(4).HIGHLIGHTED, .screen.why .selectable-reveal-component .selectable-component .items li:nth-of-type(4):hover {
          background-position: -237px -990px; }

.screen.why.READY.OPEN img.title {
  animation-name: zoomInDown; }

.screen.why.READY.OPEN .selectable-reveal-component .selectable-component .items {
  opacity: 1; }

.screen.why.VOICE-OVER .selectable-component .items li {
  pointer-events: none; }
  .screen.why.VOICE-OVER .selectable-component .items li:first-of-type:not(.HIGHLIGHTED) {
    pointer-events: none; }

.screen.pig img {
  display: block;
  width: 640px;
  margin: 40px auto 0; }

.screen.pig .multiple-choice-component ul {
  list-style: none;
  padding: 0;
  margin: -20px auto 0;
  display: block;
  width: 730px; }
  .screen.pig .multiple-choice-component ul li {
    display: inline-block;
    height: 380px;
    cursor: default;
    background-repeat: no-repeat; }
    .screen.pig .multiple-choice-component ul li.pig {
      width: 500px;
      background-image: url(../media/S_4/img_4.2.png);
      background-size: auto 100%; }
      .screen.pig .multiple-choice-component ul li.pig:hover {
        background-position: -497px 0; }
      .screen.pig .multiple-choice-component ul li.pig.SELECTED {
        background-position: -993px 0; }
    .screen.pig .multiple-choice-component ul li.bulb {
      width: 230px;
      background-image: url(../media/S_4/img_4.3.png);
      background-size: auto 100%; }
      .screen.pig .multiple-choice-component ul li.bulb:hover {
        background-position: -246px 0; }
      .screen.pig .multiple-choice-component ul li.bulb.SELECTED {
        background-position: 0 0; }

.screen.pig .multiple-choice-component.COMPLETE {
  pointer-events: none; }
  .screen.pig .multiple-choice-component.COMPLETE li.pig {
    transition: opacity 1s;
    opacity: 0.5; }

.screen.pig.READY.OPEN img {
  animation-name: zoomInDown; }

.screen.pig.READY.OPEN .pig {
  animation-name: shake;
  animation-duration: 3s; }

.screen.pig.READY.OPEN .bulb {
  animation-name: bounce;
  animation-duration: 3s; }

.screen.pig.VOICE-OVER li {
  pointer-events: none; }

.screen.what img.title {
  display: block;
  width: 800px;
  margin: 30px auto 0; }

.screen.what .selectable-reveal-component {
  margin-top: -30px; }
  .screen.what .selectable-reveal-component .selectable-component .items {
    position: relative;
    height: 300px;
    width: 800px;
    margin: 20px auto;
    opacity: 0;
    transition: opacity 1s 1s; }
    .screen.what .selectable-reveal-component .selectable-component .items li {
      cursor: default;
      position: absolute;
      width: 200px;
      height: 200px;
      top: 0;
      opacity: 0.5;
      transition: opacity 1s;
      background-image: url(../media/S_5/img_5.2.png);
      background-size: 400px;
      background-repeat: no-repeat;
      pointer-events: none; }
      .screen.what .selectable-reveal-component .selectable-component .items li:first-of-type:not(.HIGHLIGHTED) {
        opacity: 1;
        cursor: pointer;
        pointer-events: auto; }
        .screen.what .selectable-reveal-component .selectable-component .items li:first-of-type:not(.HIGHLIGHTED):hover {
          animation-name: bounce; }
      .screen.what .selectable-reveal-component .selectable-component .items li.HIGHLIGHTED {
        opacity: 1; }
      .screen.what .selectable-reveal-component .selectable-component .items li.HIGHLIGHTED + li:not(.HIGHLIGHTED) {
        opacity: 1;
        cursor: pointer;
        pointer-events: auto; }
        .screen.what .selectable-reveal-component .selectable-component .items li.HIGHLIGHTED + li:not(.HIGHLIGHTED):hover {
          animation-name: bounce; }
      .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(1) {
        background-position: 0px 0px;
        left: 0px;
        top: 0px; }
        .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(1).HIGHLIGHTED, .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(1):hover {
          background-position: -200px 0px; }
      .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(2) {
        background-position: 0px -200px;
        left: 150px;
        top: 200px; }
        .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(2).HIGHLIGHTED, .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(2):hover {
          background-position: -200px -200px; }
      .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(3) {
        background-position: 0px -400px;
        left: 300px;
        top: 0px; }
        .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(3).HIGHLIGHTED, .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(3):hover {
          background-position: -200px -400px; }
      .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(4) {
        background-position: 0px -600px;
        left: 450px;
        top: 200px; }
        .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(4).HIGHLIGHTED, .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(4):hover {
          background-position: -200px -600px; }
      .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(5) {
        background-position: 0px -800px;
        left: 600px;
        top: 0px; }
        .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(5).HIGHLIGHTED, .screen.what .selectable-reveal-component .selectable-component .items li:nth-of-type(5):hover {
          background-position: -200px -800px; }

.screen.what.READY.OPEN img.title {
  animation-name: zoomInDown; }

.screen.what.READY.OPEN .selectable-reveal-component .selectable-component .items {
  opacity: 1; }

.screen.lets-learn img {
  position: absolute;
  top: 140px;
  left: 130px;
  width: 700px;
  margin: 0; }

.screen.lets-learn.READY.OPEN img {
  animation-name: zoomInDown; }

.screen.flip h2 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: -80px 0 0;
  text-align: center;
  color: #fff;
  font-weight: normal; }
  .screen.flip h2 .inline {
    position: relative;
    height: 100px;
    vertical-align: middle;
    margin-top: -60px;
    top: 50px; }

.screen.flip .stamp {
  position: relative;
  width: 800px;
  display: block;
  margin: 0 auto;
  z-index: 1;
  opacity: 0; }

.screen.flip.READY.OPEN .inline {
  animation-name: flipInX;
  animation-duration: 3s; }

.screen.flip.READY.OPEN .stamp.START {
  opacity: 1;
  animation-name: stamp;
  animation-duration: 1s; }

#quit {
  z-index: 1; }
  #quit .frame {
    text-align: center; }
    #quit .frame h2 {
      margin: 0; }
    #quit .frame button {
      margin: 20px 10px; }

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  white-space: nowrap; }

.center.inline {
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 100%; }

.center::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.center > * {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: normal; }
