.screen-quit-component {
	opacity: 0;
	box-shadow: none;
}

.QUIT-SCREEN .screen.screen-quit-component.OPEN {
	opacity: 1;
}

.QUIT-SCREEN .screen.OPEN {
	opacity: 0;
}

.screen-quit-component.LEAVE {
	z-index: 1;
}

.screen-quit-component.LEAVE-END {
	z-index: -1;
}

	.screen-quit-component button {
		margin-right: 10px;
	}

.screen-quit-component {
	z-index: 1;
}

	.screen-quit-component .frame-component .frame .content-group {
		margin: 0;
	}

	.screen-quit-component .frame-component .frame .prev-screen,
	.screen-quit-component .frame-component .frame .next-screen {
		display: none;
	}

	.screen-quit-component h2 {
		font-size: 40px;
		margin-top: 40px;
	}

	.screen-quit-component h3 {
		margin: 40px 0 140px;
	}

	.screen-quit-component button {
		position: absolute;
		bottom: -20px;
	}

		.screen-quit-component button.yes {
			left: 0;
			width: 40%;
		}

		.screen-quit-component button.no {
			left: 60%;
			width: 40%;
		}

		.screen-quit-component button img {
			width: 100%;
		}

		.screen-quit-component button img.hover {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			transition: opacity .5s;
		}

			.screen-quit-component button:hover img.hover {
				opacity: 1;
			}
