.screen-quit-component {
	opacity: 0;
	box-shadow: none;
}

.QUIT-SCREEN .screen.screen-quit-component.OPEN {
	opacity: 1;
}

.QUIT-SCREEN .screen.OPEN {
	opacity: 0;
}

.screen-quit-component.LEAVE {
	z-index: 1;
}

.screen-quit-component.LEAVE-END {
	z-index: -1;
}

.screen-quit-component {
	z-index: 1;
}

	.screen-quit-component .frame-component .frame .content-group {
		margin: 0;
	}

	.screen-quit-component .frame-component .frame .prev-screen,
	.screen-quit-component .frame-component .frame .next-screen {
		display: none;
	}
