@-webkit-keyframes bob {
	0% {transform: translateY(-10%);}
	50% {transform: translateY(10%);}
}

@keyframes bob {
	0% {transform: translateY(-10%);}
	50% {transform: translateY(10%);}
}

.selectable-remove-component {
	height: 100%;
	width: 100%;
}

	.selectable-remove-component .center {
		cursor: none;
		overflow: hidden;
	}

	.screen.COMPLETE .selectable-remove-component .center {
		cursor: auto;
	}

	.selectable-remove-component .turtle {
		position: absolute;
		left: 0;
		top: 10%;
		width: 37%;
	}

	.selectable-remove-component .turtle.smile {
		opacity: 0;
		transition: opacity .5s;
	}

	.selectable-remove-component .net {
		position: absolute;
		left: 0;
		top: 0;
		opacity: 1;
		transition: opacity .5s;
		pointer-events: none;
		z-index: 1;
	}

	.screen.COMPLETE .selectable-remove-component .net {
		opacity: 0;
	}

	section.COMPLETE .selectable-remove-component .turtle.smile {
		opacity: 1;
	}

	.selectable-remove-component .items {
		width: 100%;
		height: 100%;
	}

	.selectable-remove-component .items li {
		position: absolute;
		list-style: none;
		transform: translateY(-10%);
		-webkit-animation: bob 8s infinite;
		animation: bob 8s infinite;
	}

		.selectable-remove-component .items li img {
			position: relative;
			max-width: 150px;
			transition: opacity .5s;
		}

		.selectable-remove-component .items li img.hover {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		.selectable-remove-component .items li:hover img.hover {
			opacity: 1;
		}

		.selectable-remove-component .items li.HIGHLIGHTED img,
		.selectable-remove-component .items li.HIGHLIGHTED:hover img,
		.screen.COMPLETE .selectable-remove-component .items li img.hover {
			opacity: 0;
		}

	.selectable-remove-component .items li {
		position: absolute;
		list-style: none;
	}

	.selectable-remove-component .items li.bag {
		left: 1%;
		top: -1%;
	}
	
	.selectable-remove-component .items li.milk {
		left: 17%;
		top: -2%;
	}

	.selectable-remove-component .items li.milk2 {
		left: 24%;
		top: 69%;
	}
	
	.selectable-remove-component .items li.shrimp {
		left: 40%;
		top: 25%;
	}
	
	.selectable-remove-component .items li.shrimp2 {
		left: 70%;
		top: 78%;
	}
	
	.selectable-remove-component .items li.seaweed {
		left: 60%;
		top: 34%;
	}
	
	.selectable-remove-component .items li.bottle {
		left: 16%;
		top: 53%;
	}
	
	.selectable-remove-component .items li.paper {
		left: 60%;
		top: 14%;
	}
	
	.selectable-remove-component .items li.paper2 {
		left: 10%;
		top: 76%;
	}
	
	.selectable-remove-component .items li.jar {
		left: 48%;
		top: -2%;
	}
	
	.selectable-remove-component .items li.lobster {
		left: 62%;
		top: 1%;
	}
	
	.selectable-remove-component .items li.glassbottle {
		left: 29%;
		top: 20%;
	}
	
	.selectable-remove-component .items li.soda {
		left: 79%;
		top: 3%;
	}
	
	.selectable-remove-component .items li.soda2 {
		left: 33%;
		top: 48%;
	}
	
	.selectable-remove-component .items li.shell {
		left: 47%;
		top: 42%;
	}
	
	.selectable-remove-component .items li.spike {
		left: 78%;
		top: 55%;
	}
	
	.selectable-remove-component .items li.box {
		left: 77%;
		top: 29%;
	}
	
	.selectable-remove-component .items li.box2 {
		left: 39%;
		top: 71%;
	}
	
	.selectable-remove-component .items li.shell2 {
		left: 34%;
		top: -3%;
	}
	
	.selectable-remove-component .items li.can {
		left: 54%;
		top: 74%;
	}

	.selectable-remove-component .items li.canholder {
		left: 60%;
		top: 55%;
	}
