<audio class="sfx" src="media/audio/SO_9.1.mp3" preload></audio>
<ul class="viewport" pl-action="pick(target('li'))"></ul>
<ul class="bin">
  <li class="a" pl-correct>
    <div></div>
    <div></div>
  </li>
  <li class="b" pl-correct>
    <div></div>
    <div></div>
  </li>
  <li class="c" pl-correct>
    <div></div>
    <div></div>
  </li>
  <li class="d" pl-correct>
    <div></div>
    <div></div>
  </li>
  <li class="e" pl-correct>
    <div></div>
    <div></div>
  </li>
  <li class="f" pl-correct>
    <div></div>
    <div></div>
  </li>
</ul>
