.score-component {
	margin: 20px auto;
}
	
	.score-component .board img {
		display: none;
	    height: 80px;
	}

	.score-component .board img.SELECTED {
		display: block;
	}

		.score-component .board [pl-id=counter] {
			display: none;
		}
