.frame-component {}

	.frame-component .frame {
		position: relative;
		width: 70%;
		max-width: 977px;
	}

		.frame-component .frame .next-screen,
		.frame-component .frame .prev-screen {
			position: absolute;
			display: block;
			width: 70px; height: 70px;

			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			top: 50%;
		}

		.frame-component .frame .next-screen {
			margin-top: 5px;
			margin-right: 5px;
			right: 0;

			background-image: url(media/images/button-next.png);
			transform: translateY(-50%) translateX(50%);
			transition: opacity 1s;
		}

		.frame-component.GATED .frame .next-screen,
		.screen.GATED > .frame-component .frame .next-screen {
			opacity: 0;
			cursor: default;
		}

		.frame-component.COMPLETE .frame .next-screen,
		.DEMO .frame-component .frame .next-screen,
		.screen.COMPLETE > .frame-component .frame .next-screen,
		.DEMO .screen > .frame-component .frame .next-screen {
			opacity: 1;
		}

		.frame-component .frame .next-screen:hover {
			background-image: url(media/images/button-next-hover.png);
		}

		.frame-component .frame .prev-screen {
			margin-top: 5px;
			margin-left: 10px;
			background-image: url(media/images/button-prev.png);
			transform: translateY(-50%) translateX(-50%);
		}
		
		.frame-component .frame .prev-screen:hover {
			background-image: url(media/images/button-prev-hover.png);
		}

		.frame-component .frame img.background {
			display: block;
			width: 100%;
			box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
		}

		.frame-component .frame .content-group {
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			margin: 12px;
		}

			.frame-component .frame .content-group > * {
				margin-left: 2em;
				margin-right: 2em;
				text-align: center;
			}
