@font-face {
  font-family: 'Powderfinger Type';
  src: url('POWDRFT_.eot'); /* IE9 Compat Modes */
  src: url('POWDRFT_.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('POWDRFT_.woff') format('woff'), /* Modern Browsers */
       url('POWDRFT_.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('POWDRFT_.svg#10f6fe65355d8d8834bd6b1900d3311e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

