.selectable-remove-component {
	height: 100%;
	width: 100%;
}

	.selectable-remove-component .center {
		cursor: none;
		overflow: hidden;
	}

	.screen.COMPLETE .selectable-remove-component .center {
		cursor: auto;
	}

	.selectable-remove-component .items {
		width: 100%;
		height: 100%;
	}

	.selectable-remove-component .items li {
		position: absolute;
		list-style: none;
	}

		.selectable-remove-component .items li.HIGHLIGHTED {
			opacity: 0;
		}

		.selectable-remove-component .items li.bottle {
			left: 1px;
			top: 1px;
		}
