.title-component {
	
	button.next-screen {
		position: absolute;
		bottom: 40px; right: 40px;
		
		background: no-repeat center;
		background-size: 1462px 416px; /* The image dimensions divided by 2. */
		background-position: top left;

		&:hover {
			background-position: bottom left;
		}
	}

}
