.screen-basic-component {}

	.screen-basic-component button.close {
		position: relative;
		margin-top: 10px;
		margin-right: 10px;
		width: 40px;
		height: 50px;
		float: right;
		border: none;

		font-size: 2em;
		background: url(../media/images/buttons/quit.png) center center no-repeat;
		background-size: 100%;
		color: transparent;
		z-index: 1;
	}

	.screen-basic-component button.close:hover {
		background-image: url(../media/images/buttons/quit-hover.png);
	}

	.screen-basic-component button.close:active {
		transform: scale(0.9);
	}